<h1> interface translation</h1>

<mat-form-field>
  <mat-label>Language</mat-label>
  <mat-select [(ngModel)]="dataService.langageUiSelected">
    <mat-option *ngFor="let c of i18Config.interface" [value]="c">
      {{c}}
    </mat-option>
  </mat-select>
</mat-form-field>



<button mat-raised-button color="primary" 
  [disabled]="!dataService.langageUiSelected"
 (click)="goToTranslateUi()">Translate Ui</button>


<h1> Tags & presets </h1>






<mat-form-field>
  <mat-label>Language</mat-label>
  <mat-select (selectionChange)="languageChange($event)">
    <mat-option *ngFor="let c of i18Config.tags" [value]="c.language">
      {{c.language}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field *ngIf="selectedLanguageTag">
  <mat-label>Region</mat-label>
  <mat-select (selectionChange)="countryChange($event)">
    <mat-option *ngFor="let c of selectedLanguageTag.country" [value]="c.region">
      {{c.region}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button [disabled]="!tagsService.country || !tagsService.language" (click)="goToTagsConfig()" color="primary">Config tags...</button>