<section class="feature-choice">
    <header class="feature-choice__header">
        <div class="feature-choice__icon" aria-hidden="true">
            <mat-icon fontSet="material-symbols-rounded">touch_app</mat-icon>
        </div>
        <div>
            <h2 mat-dialog-title>{{ 'MAIN.WHAT_ITEM' | translate }}</h2>
            <p>Sélectionnez l’objet voulu à cet emplacement.</p>
        </div>
    </header>

    <mat-dialog-content>
        <div class="feature-list" role="list">
            @for (feature of features(); track feature.properties.id) {
                <button
                    class="feature-row"
                    type="button"
                    role="listitem"
                    (click)="selectFeature(feature)"
                >
                    <span
                        class="feature-symbol"
                        [style.background-color]="feature.properties.hexColor"
                    >
                        <app-icon
                            [icon]="feature.properties.icon"
                            [jsonSprites]="jsonSprites()"
                        ></app-icon>
                    </span>

                    <span class="feature-copy">
                        <strong>
                            @if (feature.properties._name) {
                                {{ feature.properties._name }}
                            } @else {
                                <span class="noname">{{
                                    'SHARED.UNDEFINED' | translate
                                }}</span>
                            }
                        </strong>
                        @if (feature.properties.changeType !== 'Create') {
                            <span class="feature-id">{{
                                feature.properties.id
                            }}</span>
                        }
                    </span>

                    @if (feature.properties.changeType; as changeType) {
                        <span
                            class="change-state"
                            [attr.data-change-type]="changeType"
                        >
                            <mat-icon
                                fontSet="material-symbols-rounded"
                                aria-hidden="true"
                            >
                                @switch (changeType) {
                                    @case ('Create') {
                                        add
                                    }
                                    @case ('Update') {
                                        edit
                                    }
                                    @case ('Delete') {
                                        delete
                                    }
                                }
                            </mat-icon>
                        </span>
                    }

                    <mat-icon
                        class="row-arrow"
                        fontSet="material-symbols-rounded"
                        aria-hidden="true"
                        >chevron_right</mat-icon
                    >
                </button>
            }
        </div>
    </mat-dialog-content>
</section>
