<div style="height: 100%">
    <ion-header>
        <ion-toolbar>
            <ion-title>
                {{ 'MAIN.WHAT_ITEM' | translate }}
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="content">
        <table>
            <table>
                <thead>
                    <tr>
                        <th style="width: 20px"></th>
                        <th style="width: 20px"></th>
                        <!-- <th> Type </th> -->
                        <th>{{ 'SHARED.NAME' | translate }}</th>
                        <th>{{ 'SHARED.ID' | translate }}</th>
                    </tr>
                </thead>
                @for (feature of features; track feature) {
                    <tbody>
                        <tr (click)="selectFeature(feature)">
                            <td
                                style="width: 20px"
                                [style.background-color]="
                                    feature.properties.hexColor
                                "
                            >
                                <app-icon
                                    [icon]="feature.properties.icon"
                                    [jsonSprites]="jsonSprites"
                                >
                                </app-icon>
                            </td>
                            <td>
                                @if (
                                    feature.properties.changeType == 'Create'
                                ) {
                                    <ion-icon
                                        name="add"
                                        class="iconType"
                                    ></ion-icon>
                                }
                                @if (
                                    feature.properties.changeType == 'Update'
                                ) {
                                    <ion-icon
                                        name="create"
                                        class="iconType"
                                    ></ion-icon>
                                }
                                @if (
                                    feature.properties.changeType == 'Delete'
                                ) {
                                    <ion-icon
                                        name="trash"
                                        class="iconType"
                                    ></ion-icon>
                                }
                            </td>
                            <!-- TODO: translation -->
                            <td>
                                @if (feature.properties._name) {
                                    <span>
                                        {{ feature.properties._name }}
                                    </span>
                                }
                                @if (!feature.properties._name) {
                                    <span class="noname">
                                        {{ 'SHARED.UNDEFINED' | translate }}
                                    </span>
                                }
                            </td>
                            <td>
                                @if (
                                    feature.properties.changeType !== 'Create'
                                ) {
                                    <span class="spanId">
                                        {{ feature.properties.id }}
                                    </span>
                                }
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </table>
    </div>
</div>
