
  <mat-form-field >
    <input [(ngModel)]="newLanguage" matInput placeholder="Language (eg : en , fr, de, pt...)">
  </mat-form-field>

  <mat-form-field>
    <input [(ngModel)]="newCountry" matInput placeholder="Country (eg : GB , FR, DE, BR...)">
  </mat-form-field>


<div>
  <h4> Copy From : </h4>
  <mat-form-field>
    <mat-label>Language</mat-label>
    <mat-select (selectionChange)="languageFromChange($event)">
      <mat-option *ngFor="let c of dataService.i18Config.tags" [value]="c.language">
        {{c.language}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Region</mat-label>
    <mat-select (selectionChange)="countryFromChange($event)" [(ngModel)]="fromCountry">
      <mat-option *ngFor="let c of selectedFromLanguage?.country" [value]="c.region">
        {{c.region}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
<button [disabled]='!newLanguage || !newCountry ' mat-raised-button  (click)="createConfig()" color="primary">Create !</button>
