<div *ngIf="tagsConfig">



  <div class="content">
    <h2> Label  for {{ primaryKey }}</h2>
      <mat-form-field>
          <input matInput placeholder="label" [(ngModel)]="tagsConfig.lbl" >
        </mat-form-field>

        <h4> Exclude ways</h4>
        <mat-form-field>
            <input matInput placeholder="label" [(ngModel)]="newExcludeWay" >
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!newExcludeWay" (click)="addExcludeWay(newExcludeWay)" >Add this value</button>
    
      <table>
          <thead>
              <tr>
                  <th>Value</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of tagsConfig.exclude_way_values">
                  <td> {{ item}}</td>
                  <button mat-stroked-button color="warn" (click)="deleteExcludeWayValues(item)" >Delete</button>
            
              </tr>
          </tbody>
      </table>
  </div>
  <div class="footer">

  </div>

  <button mat-raised-button color="primary" (click)="sendData(tagsConfig)">Validate</button>

</div>
