.contentDialog{
    position: absolute;
    top:0;
    bottom: 64px;
    right: 0;
    left: 0;
    overflow: auto;
}

.footer{
    position: absolute;
    height: 64px;
    bottom: 0;
    right: 0;
    left: 0;
}