<ion-header  color="primary" >
  <ion-toolbar  color="primary">
      <ion-buttons style="min-width: 32px;" (click)="navCtrl.back()" slot="primary"> 
          <ion-icon name="arrow-back"></ion-icon> 
       </ion-buttons>
    <ion-title>
      {{'ABOUT.ABOUT' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card (tap)="tap($event)" >
    <ion-card-header> OSM Go !</ion-card-header>
    <ion-card-content>
      Version : {{ configService.getAppVersion().appVersionNumber}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      {{'ABOUT.DATA' | translate }} :  © OpenStreetMap contributors<br> 
     <!-- Ortophoto : <a href="http://openstreetmap.fr/f/2016.05.20_OSM-FR_IGN_Ortho.pdf" target="_blank">IGN</a>  -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    
    <ion-card-content> 
      <a href="https://github.com/DoFabien/OsmGo" target="_blank">Github</a> 
    </ion-card-content>
  </ion-card>
 
</ion-content>