<main class="about-screen">
    <app-screen-header
        [title]="'ABOUT.ABOUT' | translate"
        (backRequested)="back()"
    ></app-screen-header>

    <div class="about-content">
        <section class="brand-card" aria-labelledby="about-product-name">
            <img src="/assets/logo.png" alt="" />
            <div>
                <h2 id="about-product-name">Osm Go!</h2>
                <p>Map them all!</p>
            </div>
        </section>

        <mat-list class="about-list">
            <mat-list-item>
                <mat-icon matListItemIcon fontSet="material-symbols-rounded"
                    >deployed_code</mat-icon
                >
                <span matListItemTitle>{{ 'ABOUT.VERSION' | translate }}</span>
                <span matListItemLine
                    >{{ configService.getAppFullVersion() }}</span
                >
            </mat-list-item>

            <mat-list-item>
                <mat-icon matListItemIcon fontSet="material-symbols-rounded"
                    >database</mat-icon
                >
                <span matListItemTitle>{{ 'ABOUT.DATA' | translate }}</span>
                <span matListItemLine
                    >{{ 'ABOUT.OSM_CONTRIBUTORS' | translate }}</span
                >
            </mat-list-item>

            <a
                mat-list-item
                href="https://github.com/DoFabien/OsmGo"
                target="_blank"
                rel="noopener noreferrer"
            >
                <mat-icon matListItemIcon fontSet="material-symbols-rounded"
                    >code</mat-icon
                >
                <span matListItemTitle>GitHub</span>
                <mat-icon matListItemMeta fontSet="material-symbols-rounded"
                    >open_in_new</mat-icon
                >
            </a>
        </mat-list>
    </div>
</main>
