# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
.directory
.editorconfig
npm-debug.log*
modulepaths.json

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/
build/
/.angular/cache

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.sourcemaps

platforms/
deploy.config

src/environments/environment.prod.ts

android/app/release/

android/app/capacitor.build.gradle
