<section class="survey-card">
    <div class="survey-card__question">
        <mat-icon fontSet="material-symbols-rounded">fact_check</mat-icon>
        <p>{{ 'MODAL_SELECTED_ITEM.SURVEY_QUESTION' | translate }}</p>
    </div>
    <div class="actions">
        <button
            mat-flat-button
            class="yes-button"
            type="button"
            [disabled]="disabled()"
            (click)="handleYes()"
        >
            <mat-icon fontSet="material-symbols-rounded">check</mat-icon>
            {{ 'SHARED.YES' | translate }}
        </button>
        <button
            mat-button
            class="no-button"
            type="button"
            (click)="handleNo()"
            [disabled]="disabled() || feature().properties.type !== 'node'"
        >
            <mat-icon fontSet="material-symbols-rounded">close</mat-icon>
            {{ 'SHARED.NO' | translate }}
        </button>
    </div>
</section>
