ion-card-content {
    padding-bottom: 0px;

    p {
        font-weight: bold;
    }
}

div.actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    padding: 0px 8px;
}
