<ion-card>
    <ion-card-content>
        <p>{{ 'MODAL_SELECTED_ITEM.SURVEY_QUESTION' | translate }}</p>
    </ion-card-content>
    <div class="actions">
        <ion-button fill="clear" color="success" (click)="handleYes()">
            <ion-icon name="checkmark" slot="start"></ion-icon>
            {{ 'SHARED.YES' | translate }}
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="handleNo()">
            <ion-icon name="close" slot="start"></ion-icon>
            {{ 'SHARED.NO' | translate }}
        </ion-button>
    </div>
</ion-card>
