modal{
    $headerHeight :56px;
    $footerHeight : 60px;

    .input-cover{
        display: none;
    }
        
    .scroll-content{
         margin-top: $headerHeight;
         margin-bottom: $footerHeight;
    }

    ion-list .item .item-inner {
        border-bottom: 1px solid 
    }

    .item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: #dedede;
        box-shadow: inset 0 -1px 0 0 #dedede;
    }

    ion-header{
        width: 100%;
        height: $headerHeight;
        background-color: white;
    }
    ion-footer{
        width: 100%;
        height: $footerHeight;
        background-color: white;
    }


    .fabInlineMarginLess{
        margin-left: 4px !important;
        margin-top: 2px !important;
        float: left;
    }

    .alertCard {
        background-color: #c74219;
        color: white;
    }
}


