<div class="iconWrapper">
    @if (sprite(); as conf) {
        <div
            style="margin-left: auto; margin-right: auto"
            [style.width]="conf.width + 'px'"
            [style.height]="conf.height + 'px'"
            [style.background-position]="'-' + conf.x + 'px -' + conf.y + 'px'"
            [className]="'spritesX' + devicePixelRatio()"
        ></div>
    } @else if (fallbackSprite(); as conf) {
        <div
            style="margin-left: auto; margin-right: auto"
            [style.width]="conf.width + 'px'"
            [style.height]="conf.height + 'px'"
            [style.background-position]="'-' + conf.x + 'px -' + conf.y + 'px'"
            [className]="'spritesX' + devicePixelRatio()"
        ></div>
    }
</div>
