

.spritesX1{
    background: url('/assets/iconsSprites@x1.png') 0 0 no-repeat;
}

.spritesX2{
    background: url('/assets/iconsSprites@x2.png') 0 0 no-repeat;
}

.iconWrapper{
    position: relative;
    display: block;
}
