.spritesX1 {
    background: url('../../../assets/mapStyle/sprites/sprites.png') 0 0
        no-repeat;
}

.spritesX2 {
    background: url('../../../assets/mapStyle/sprites/sprites@2x.png') 0 0
        no-repeat;
}

.iconWrapper {
    position: relative;
    display: block;
}
