<div class="iconWrapper">
    <div
        *ngIf="icon && jsonSprites[icon]; let conf"
        style="margin-left: auto; margin-right: auto"
        [style.width]="conf.width + 'px'"
        [style.height]="conf.height + 'px'"
        [style.background-position]="'-' + conf.x + 'px -' + conf.y + 'px'"
        [className]="'spritesX' + devicePixelRatio"
    ></div>

    <div
        *ngIf="!icon || !jsonSprites[icon]"
        style="margin-left: auto; margin-right: auto"
        [style.width]="jsonSprites['wiki-question'].width + 'px'"
        [style.height]="jsonSprites['wiki-question'].height + 'px'"
        [style.background-position]="
            '-' +
            jsonSprites['wiki-question'].x +
            'px -' +
            jsonSprites['wiki-question'].y +
            'px'
        "
        [className]="'spritesX' + devicePixelRatio"
    ></div>
</div>
