<main class="tag-dialog">
    <app-screen-header
        [title]="'MANAGE_TAGS.HIDDEN_TAGS' | translate"
        (backRequested)="close()"
    ></app-screen-header>

    <div class="tag-dialog__search">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-icon matPrefix fontSet="material-symbols-rounded"
                >search</mat-icon
            >
            <input
                #searchInput
                matInput
                type="search"
                autocomplete="off"
                [value]="searchText()"
                [placeholder]="'SHARED.SEARCH' | translate"
                (input)="onSearchInput(searchInput.value)"
            />
        </mat-form-field>
    </div>

    <div class="tag-dialog__list">
        @for (
            tag of tagsService.tags()
                | filtersTagsByIds: tagsService.hiddenTagsIds()
                | filterByTagsContent
                    : [
                          configService.config().languageTags,
                          configService.config().countryTags,
                      ]
                    : searchText();
            track tag.id
        ) {
            <app-tag-list-element
                [tag]="tag"
                [countryTags]="configService.config().countryTags"
                [languageTags]="configService.config().languageTags"
                [jsonSprites]="tagsService.jsonSprites()"
                [geometriesFilter]="['point']"
                [bookmarksIds]="tagsService.bookmarksIds()"
                [isHiddenTag]="true"
                (removeHiddenTag)="removeHiddenTag($event)"
            ></app-tag-list-element>
        } @empty {
            <div class="tag-dialog__empty">
                <mat-icon fontSet="material-symbols-rounded"
                    >visibility</mat-icon
                >
                <p>{{ 'MANAGE_TAGS.HIDDEN_TAGS_DESCRIPTION' | translate }}</p>
            </div>
        }
    </div>

    <footer class="tag-dialog__footer tag-dialog__footer--multiple">
        <button
            mat-button
            type="button"
            (click)="tagsService.resetHiddenTags()"
        >
            {{ 'MANAGE_TAGS.RESET_HIDDEN_TAGS' | translate }}
        </button>
        <button
            class="danger-action"
            mat-button
            type="button"
            (click)="tagsService.removeAllHiddenTags()"
        >
            {{ 'MANAGE_TAGS.REMOVE_ALL_HIDDEN_TAGS' | translate }}
        </button>
        <button mat-flat-button type="button" (click)="close()">
            {{ 'SHARED.CLOSE' | translate }}
        </button>
    </footer>
</main>
