page-settings {
    .hint {
        font-family: inherit;
        line-height: normal;
        font-size: 12px;
        font-style: italic;
        color: darkgray;
    }

    h4 {
        padding-left: 16px;
    }
}

ion-label {
    white-space: normal !important;
}
