<ion-header color="primary">
	<ion-toolbar color="primary">
			 <ion-buttons style="min-width: 32px;" (click)="navCtrl.back()" slot="primary"> 
				 <ion-icon name="arrow-back"></ion-icon> 
			</ion-buttons>
		<ion-title>{{ 'SETTINGS.SETTINGS' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content padding>
	<h4> {{ 'SETTINGS.MAP' | translate}} </h4>
	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label> {{ 'SETTINGS.POSITION_TRACKING' | translate}} </ion-label>
				<ion-toggle [(ngModel)]="this.configService.config.followPosition" (ionChange)="followPositionChange($event)"></ion-toggle>
			</ion-item>
			<label class="hint">{{ 'SETTINGS.POSITION_TRACKING_HINT' | translate}}</label>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header> </ion-card-header>
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.ORIENTATION_TRACKING' | translate}} </ion-label>
				<ion-toggle [(ngModel)]="this.configService.config.lockMapHeading" (ionChange)="lockMapHeadingChange($event)"></ion-toggle>
			</ion-item>
			<label class="hint">{{ 'SETTINGS.ORIENTATION_TRACKING_HINT' | translate}} </label>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header> </ion-card-header>
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.HIDE_LARGE_POLYGON' | translate}} </ion-label>
				<ion-toggle [(ngModel)]="this.configService.config.filterWayByArea" (ionChange)="filterWayByArea($event)"></ion-toggle>
			</ion-item>
			<label class="hint">{{ 'SETTINGS.HIDE_LARGE_POLYGON_HINT' | translate}} </label>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header> </ion-card-header>
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.HIDE_LONG_LINE' | translate}} </ion-label>
				<ion-toggle [(ngModel)]="this.configService.config.filterWayByLength" (ionChange)="filterWayByLength($event)"></ion-toggle>
			</ion-item>
			<label class="hint">{{ 'SETTINGS.HIDE_LONG_LINE_HINT' | translate}}</label>
		</ion-card-content>
	</ion-card>

	<h4>{{ 'SETTINGS.TAGS' | translate}}</h4>
		<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.DEFAULT_TAGS_LIST' | translate}} </ion-label>
				<ion-select [(ngModel)]="this.configService.config.defaultPrimarykeyWindows" (ionChange)="defaultPrimarykeyWindowsChange($event)">
					<ion-select-option value="allTags">{{ 'SETTINGS.TAGS_LIST_ALL' | translate}}</ion-select-option>
					<ion-select-option value="bookmarks">{{ 'SETTINGS.TAGS_LIST_BOOKMARKS' | translate}}</ion-select-option>
					<ion-select-option value="type">{{ 'SETTINGS.TAGS_LIST_TYPE' | translate}}</ion-select-option>
				</ion-select>
			</ion-item>
			<label class="hint">{{ 'SETTINGS.DEFAULT_TAGS_LIST_HINT' | translate}}</label>
		</ion-card-content>
	</ion-card>



	<h4>{{ 'SETTINGS.DATA' | translate}}</h4>
	<ion-card>
		<ion-card-header>
				{{ 'SETTINGS.MARGIN' | translate}} ({{this.configService.config.mapMarginBuffer}} m)
		</ion-card-header>
		<ion-card-content>
			<ion-range [(ngModel)]="this.configService.config.mapMarginBuffer" debounce="300" (ionChange)="mapMarginBufferChange($event)"
				min="0" max="100">
				<ion-label range-left>0m</ion-label>
				<ion-label range-right>100m</ion-label>
			</ion-range>
			<label class="hint">{{ 'SETTINGS.MARGIN_HINT' | translate}}</label>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.AERIAL_IMAGERY' | translate}}</ion-label>
				
				<ion-select [(ngModel)]="this.configService.config.baseMapSourceId" (ionChange)="baseMapChange($event)">
					<ion-select-option *ngFor="let baseMap of this.configService.baseMapSources" [value]="baseMap.id">
						{{baseMap.label}}
					</ion-select-option>
				</ion-select>
			</ion-item>
			<label class="hint">{{ 'SETTINGS.AERIAL_IMAGERY_HINT' | translate}}</label>
		</ion-card-content>
	</ion-card>


	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.DELAYED_MODE' | translate}} </ion-label>
				<ion-toggle [disabled]="!this.osmApi.getUserInfo().connected" [(ngModel)]="this.configService.config.isDelayed" (ionChange)="isDelayedChange($event)"></ion-toggle>
			</ion-item>
			<label *ngIf="!this.osmApi.getUserInfo().connected" class="hint">{{ 'SETTINGS.LIVE_MODE_MUST_LOGIN' | translate}}<br></label>
			
			<label *ngIf="!this.configService.config.isDelayed" class="hint">{{ 'SETTINGS.LIVE_MODE_ON' | translate}}</label>
			<label *ngIf="this.configService.config.isDelayed" class="hint">{{ 'SETTINGS.LIVE_MODE_OFF' | translate}}</label>
			<br>
			<label *ngIf="!this.configService.config.isDelayed" class="hint">
					{{ 'SETTINGS.LIVE_MODE_HINT' | translate}}
			</label>
			<label *ngIf="this.configService.config.isDelayed" class="hint">
					{{ 'SETTINGS.DELAYED_MODE_HINT' | translate}}
			</label>
		</ion-card-content>
	</ion-card>

	<h4>{{ 'SETTINGS.LANGUAGE_AND_REGION' | translate}}</h4>
	<ion-card *ngIf="this.configService.config.languageUi && this.configService.i18nConfig">
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.UI_LANGUAGE' | translate}}</ion-label>
				<ion-select [(ngModel)]="this.configService.config.languageUi" (ionChange)="languageUiChange($event)">
					<ion-select-option *ngFor="let lang of this.configService.i18nConfig.interface" [value]="lang">
						{{lang}}
					</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="this.configService.config.languageTags && this.configService.i18nConfig">
		<ion-card-content>
			<ion-item>
				<ion-label>{{'SETTINGS.TAG_LANGUAGE' | translate }}</ion-label>
				<ion-select [(ngModel)]="this.configService.config.languageTags" (ionChange)="languageTagsChange($event)">
					<ion-select-option *ngFor="let lang of this.configService.i18nConfig.tags" [value]="lang.language">
						{{lang.language}}
					</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-card-content>
	</ion-card>

	 <ion-card *ngIf="this.configService.config.languageTags && this.configService.i18nConfig && this.configService.config.languageTags">
		<ion-card-content>
			<ion-item>
				<ion-label>{{'SETTINGS.TAG_COUNTRY' | translate }}</ion-label>
				<ion-select [(ngModel)]="this.configService.config.countryTags" (ionChange)="countryTagsChange($event)">
					<ion-select-option *ngFor="let country of this.configService.currentTagsCountryChoice" 
						[value]="country.region">
						{{country.region}}
					</ion-select-option>
				</ion-select>
			</ion-item>
			<label class="hint">{{ 'SETTINGS.TAG_COUNTRY_HINT' | translate}}</label>
		</ion-card-content> 
	</ion-card>
	
</ion-content>