<ion-header color="primary">
	<ion-toolbar color="primary">
		<ion-buttons style="min-width: 32px;" (click)="navCtrl.back()" slot="primary">
			<ion-icon name="arrow-back"></ion-icon>
		</ion-buttons>
		<ion-title>{{ 'SETTINGS.SETTINGS' | translate}}</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
	<h4> {{ 'SETTINGS.MAP' | translate}} </h4>

	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.AERIAL_IMAGERY' | translate}}</ion-label>

				<ion-select [value]="this.configService.config.baseMapSourceId" (ionChange)="baseMapChange($event)">
					<ion-select-option *ngFor="let baseMap of this.configService.baseMapSources" [value]="baseMap.id">
						{{baseMap.label}}
					</ion-select-option>
				</ion-select>
			</ion-item>
			<label class="hint">{{ 'SETTINGS.AERIAL_IMAGERY_HINT' | translate}}</label>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label> {{ 'SETTINGS.POSITION_TRACKING' | translate}} </ion-label>
				<ion-toggle [checked]="this.configService.config.followPosition"
					(ionChange)="followPositionChange($event)"></ion-toggle>
			</ion-item>
			<label class="hint">{{ 'SETTINGS.POSITION_TRACKING_HINT' | translate}}</label>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header> </ion-card-header>
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.ORIENTATION_TRACKING' | translate}} </ion-label>
				<ion-toggle [checked]="this.configService.config.lockMapHeading"
					(ionChange)="lockMapHeadingChange($event)"></ion-toggle>
			</ion-item>
			<label class="hint">{{ 'SETTINGS.ORIENTATION_TRACKING_HINT' | translate}} </label>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header> </ion-card-header>
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.CENTER_WHEN_GPS_IS_READY' | translate}} </ion-label>
				<ion-toggle [checked]="this.configService.config.centerWhenGpsIsReady"
					(ionChange)="centerWhenGpsIsReadyChange($event)"></ion-toggle>
			</ion-item>
			<label class="hint">{{ 'SETTINGS.CENTER_WHEN_GPS_IS_READY_HINT' | translate}} </label>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header> </ion-card-header>
		<ion-card-content>
			<ion-item>
				<ion-label> {{ 'SETTINGS.DISPLAY_OLD_TAGS_ICON' | translate}} </ion-label>
				<ion-toggle [checked]="this.configService.config.oldTagsIcon.display"
					(ionChange)="displayOldTagIconChange($event)"></ion-toggle>
			</ion-item>

			<ion-label>{{ 'SETTINGS.OLD_TAGS_ICON_RANGE_PART_1' | translate}}  {{ this.configService.config.oldTagsIcon.year }} {{ 'SETTINGS.OLD_TAGS_ICON_RANGE_PART_2' | translate}}  </ion-label>
			<ion-range [value]="this.configService.config.oldTagsIcon.year" debounce="300" snaps
				(ionChange)="yearOldTagIconChange($event)" min="0" max="10" step="0.5" pin>
				<ion-label range-left>0</ion-label>
				<ion-label range-right>10</ion-label>
			</ion-range>

			<label class="hint">{{ 'SETTINGS.OLD_TAGS_ICON_HINT' | translate}} </label>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.DISPLAY_FIXME_ICON' | translate}}</ion-label>
				<ion-toggle [checked]="this.configService.config.displayFixmeIcon"
					(ionChange)="displayFixmeIconChange($event)"></ion-toggle>
			</ion-item>

			<label class="hint"> {{ 'SETTINGS.DISPLAY_FIXME_ICON_HINT' | translate}} </label>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.HIDE_LARGE_POLYGON' | translate}} </ion-label>
				<ion-toggle [checked]="this.configService.config.filterWayByArea"
					(ionChange)="filterWayByArea($event)"></ion-toggle>
			</ion-item>
			<label class="hint">{{ 'SETTINGS.HIDE_LARGE_POLYGON_HINT' | translate}} </label>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.HIDE_LONG_LINE' | translate}} </ion-label>
				<ion-toggle [checked]="this.configService.config.filterWayByLength"
					(ionChange)="filterWayByLength($event)"></ion-toggle>
			</ion-item>
			<label class="hint">{{ 'SETTINGS.HIDE_LONG_LINE_HINT' | translate}}</label>
		</ion-card-content>
	</ion-card>


	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label> {{ 'SETTINGS.LINES_SELECTABLE' | translate}}  </ion-label>
				<ion-toggle [checked]="this.configService.config.isSelectableLine"
					(ionChange)="isSelectableLineChange($event)"></ion-toggle>
			</ion-item>
			<label class="hint">{{ 'SETTINGS.LINES_SELECTABLE_HINT' | translate}} </label>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.POLYGONS_SELECTABLE' | translate}}   </ion-label>
				<ion-toggle [checked]="this.configService.config.isSelectablePolygon"
					(ionChange)="isSelectablePolygonChange($event)"></ion-toggle>
			</ion-item>
			<label class="hint">{{ 'SETTINGS.POLYGONS_SELECTABLE_HINT' | translate}} </label>
		</ion-card-content>
	</ion-card>

	<h4>{{ 'SETTINGS.TAGS' | translate}}</h4>


	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.ADD_SURVEY_DATE' | translate}}</ion-label>
				<ion-toggle [checked]="this.configService.config.addSurveyDate"
					(ionChange)="addSurveyDateChange($event)"></ion-toggle>
			</ion-item>

			<label class="hint"> {{ 'SETTINGS.ADD_SURVEY_DATE_HINT' | translate}} </label>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-content>

			<ion-item>
				<ion-label>{{ 'SETTINGS.CHECKED_KEY' | translate}}</ion-label>
				<ion-select [value]="this.configService.config.checkedKey" (ionChange)="checkedKeyChange($event)">
					<ion-select-option value="survey:date">
						survey:date
					</ion-select-option>
					<ion-select-option value="check_date">
						check_date
					</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-card-content>
	</ion-card>


	<h4>{{ 'SETTINGS.DATA' | translate}}</h4>
	<ion-card>
		<ion-card-header>
			{{ 'SETTINGS.MARGIN' | translate}} ({{this.configService.config.mapMarginBuffer}} m)
		</ion-card-header>
		<ion-card-content>
			<ion-range [value]="this.configService.config.mapMarginBuffer" debounce="300" snaps
				(ionChange)="mapMarginBufferChange($event)" min="0" max="100">
				<ion-label range-left>0m</ion-label>
				<ion-label range-right>100m</ion-label>
			</ion-range>
			<label class="hint">{{ 'SETTINGS.MARGIN_HINT' | translate}}</label>
		</ion-card-content>
	</ion-card>

	<h4>{{ 'SETTINGS.LANGUAGE_AND_REGION' | translate}}</h4>
	
	<ion-card *ngIf="this.configService.config.languageUi && this.configService.i18nConfig">
		<ion-card-content>
			<ion-item>
				<ion-label>{{ 'SETTINGS.UI_LANGUAGE' | translate}}</ion-label>
				<ion-select [value]="this.configService.config.languageUi" (ionChange)="languageUiChange($event)">
					<ion-select-option *ngFor="let lang of this.configService.i18nConfig.language" [value]="lang.code">
						{{lang.nativeName}}
					</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="this.configService.config.languageTags && this.configService.i18nConfig">
		<ion-card-content>
			<ion-item>
				<ion-label>{{'SETTINGS.TAG_LANGUAGE' | translate }}</ion-label>
				<ion-select [value]="this.configService.config.languageTags"
					(ionChange)="languageTagsChange($event)">
					<ion-select-option *ngFor="let lang of this.configService.i18nConfig.language" [value]="lang.code">
						{{lang.nativeName}}
					</ion-select-option>
				</ion-select>
			</ion-item>
		</ion-card-content>
	</ion-card>

	
	<ion-card>
		<ion-card-header>
			{{'SETTINGS.TAG_COUNTRY' | translate }}
		</ion-card-header>
		<ion-card-content>
			<div class="wrapperEdit2cols">
				<div class="contentEdit2cols">
						<ion-item>
							<ion-input type="text" [value]="this.configService.config.countryTags" (ionChange)="countryTagsChange($event)" placeholder="GB, FR, DE ..."></ion-input>
						</ion-item>
				</div>
			</div>
			<label class="hint">{{ 'SETTINGS.TAG_COUNTRY_HINT' | translate}}</label>
		</ion-card-content>
	</ion-card>


	<h4>{{ 'SETTINGS.CACHE' | translate}}</h4>

	<ion-card>
		<ion-card-content>
			<ion-item>
				<ion-button (click)="deleteCache()" color="danger">{{ 'SETTINGS.DELETE_CACHE' | translate}}</ion-button>
			</ion-item>
			<label class="hint">
				{{ 'SETTINGS.DELETE_CACHE_HINT' | translate}}
			</label>
		</ion-card-content>
	</ion-card>

	<div *ngIf="this.configService.config.isDevMode">
		<h4>Developer mode</h4>
		<ion-card >
				<ion-card-content>
					<ion-item>
						<ion-label>Use the OSM development server</ion-label>
						<ion-toggle [checked]="this.configService.config.isDevServer"
							(ionChange)="changeIsDevServer($event.detail.checked)"></ion-toggle>
					</ion-item>
					<label class="hint">
						After this change, the application will be restarted and the data will be cleared  </label>
				</ion-card-content>
		</ion-card>

		<ion-card>
				<ion-card-content>
					<ion-item>
						<ion-label>Disable Developer mode</ion-label>
						<ion-toggle [checked]="this.configService.config.isDevMode"
							(ionChange)="disableDevMode($event)"></ion-toggle>
					</ion-item>
				</ion-card-content>
			</ion-card>
	</div>

</ion-content>