<main class="tag-dialog">
    <app-screen-header
        [title]="'MANAGE_TAGS.BOOKMARKED_TAGS' | translate"
        (backRequested)="close()"
    ></app-screen-header>

    <div class="tag-dialog__search">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-icon matPrefix fontSet="material-symbols-rounded"
                >search</mat-icon
            >
            <input
                #searchInput
                matInput
                type="search"
                autocomplete="off"
                [value]="searchText()"
                [placeholder]="'SHARED.SEARCH' | translate"
                (input)="onSearchInput(searchInput.value)"
            />
        </mat-form-field>
    </div>

    <div class="tag-dialog__list">
        @for (
            tag of tagsService.tags()
                | filtersTagsByIds: tagsService.bookmarksIds()
                | filterByTagsContent
                    : [
                          configService.config().languageTags,
                          configService.config().countryTags,
                      ]
                    : searchText();
            track tag.id
        ) {
            <app-tag-list-element
                [tag]="tag"
                [countryTags]="configService.config().countryTags"
                [languageTags]="configService.config().languageTags"
                [jsonSprites]="tagsService.jsonSprites()"
                [geometriesFilter]="['point']"
                [bookmarksIds]="tagsService.bookmarksIds()"
                (removeBookmark)="tagsService.removeBookMark(tag)"
                (addBookmark)="tagsService.addBookMark(tag)"
            ></app-tag-list-element>
        } @empty {
            <div class="tag-dialog__empty">
                <mat-icon fontSet="material-symbols-rounded"
                    >bookmark_border</mat-icon
                >
                <p>
                    {{ 'MANAGE_TAGS.BOOKMARKED_TAGS_DESCRIPTION' | translate }}
                </p>
            </div>
        }
    </div>

    <footer class="tag-dialog__footer">
        <button mat-flat-button type="button" (click)="close()">
            {{ 'SHARED.CLOSE' | translate }}
        </button>
    </footer>
</main>
