@if (preset().type === 'select') {
    <article class="select-field">
        <strong>
            @if (
                !displayCode() &&
                (preset().lbl[language()] || preset().lbl['en'])
            ) {
                {{ preset().lbl[language()] || preset().lbl['en'] }}
            } @else {
                <mat-icon fontSet="material-symbols-rounded">code</mat-icon
                >{{ preset().key }}
            }
        </strong>

        <div class="select-control">
            @if (!displayCode()) {
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-select
                        [value]="selectedValue"
                        (selectionChange)="selectChange($event.value)"
                    >
                        <mat-option value="">{{
                            'MODAL_SELECTED_ITEM.UNDEFINED_VALUE' | translate
                        }}</mat-option>
                        @for (item of preset().options; track item.v) {
                            <mat-option [value]="item.v">{{
                                item.lbl?.[language()] ||
                                    item.lbl?.['en'] ||
                                    item.v
                            }}</mat-option>
                        }
                        @if (
                            (tag() | displayPresetLabel: preset()) ===
                                undefined && tag().value !== ''
                        ) {
                            <mat-option [value]="tag().value">{{
                                tag().value
                            }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            } @else {
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <input
                        matInput
                        type="text"
                        [ngModel]="tag().value"
                        (ngModelChange)="valueChange($event)"
                        [placeholder]="tag().key"
                    />
                </mat-form-field>
            }
            <button
                mat-icon-button
                type="button"
                [attr.aria-label]="'SHARED.CLEAR' | translate"
                (click)="valueChange('')"
            >
                <mat-icon fontSet="material-symbols-rounded">close</mat-icon>
            </button>
        </div>
    </article>
}
