<ion-card *ngIf="preset?.type === 'select'">
  <ion-card-header>
      <b *ngIf="!displayCode && (preset?.lbl[language] || preset?.lbl['en']); else diplayCodeSelect">{{preset?.lbl[language] || preset?.lbl['en']}}</b>
      <ng-template #diplayCodeSelect>
      <ion-icon name="code"></ion-icon>
      {{preset?.key}}
  </ng-template>
      
  </ion-card-header>

  <ion-card-content>

  <div class="wrapperEdit2cols">
      <div class="contentEdit2cols">
         
          <div *ngIf="!displayCode">
                  <!-- Fix: in new ionic version, popover have overflow:hidden. It prevents the popover to show all the options -->
                  <!-- So I changed the interface to action-sheet who can display all options with scrolling -->
                  <ion-select [interface]="'action-sheet'" [value]="tag.value" (ionChange)="selectChange($event);"
                  style="width: 100%; min-width: 100%;padding-left:0;"
              >
              <ion-select-option   [value]="''" >
                  <p class="undefindedListValue"> {{'MODAL_SELECTED_ITEM.UNDEFINED_VALUE'| translate}} </p> 
              </ion-select-option>
                  <ion-select-option  *ngFor ="let item of preset.options;" [value]="item.v" >
                          <p class="displayLabelListValue">  {{item.lbl[language] || item.lbl['en']}}</p> 
                  </ion-select-option>


                  <ion-select-option  *ngIf="(tag | displayPresetLabel:preset) === undefined &&  tag.value!= '' ;" [value]="tag.value" >
                      {{'<> '}} 
                         <p class="displayLabelListValue"> {{(tag.value)}} {{(tag | displayPresetLabel:preset)}}</p> 
                  </ion-select-option>
                  

              </ion-select>
          </div>
            
          <ion-item *ngIf="displayCode">
                  <ion-input type="text" [(ngModel)]="tag.value" [placeholder]="tag.key"></ion-input>
          </ion-item>
      </div>

      
      <div class="buttonEdit2cols">
          <ion-col width-10 class="ion-col10">
          <ion-icon (click)="tag.value = ''" name="close" style="width: 2em; height: 2em;"></ion-icon>
          </ion-col>
      </div>
  </div>

  </ion-card-content>
</ion-card>