<ion-header>
    <ion-toolbar>
        <ion-title>{{
            'OPENINGHOURS.ADD_OPENING_HOURS' | translate
        }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical">
    <div class="daysHeader">
        <ion-badge
            *ngFor="let day of days"
            class="dayBadge"
            [color]="day.selected ? 'primary' : 'light'"
            (click)="toggleDay(day.index)"
        >
            {{ day.label | translate | charLimit: 3 }}
        </ion-badge>
    </div>

    <div *ngIf="!dayIsSelected" class="alertSelectADay">
        {{ 'OPENINGHOURS.SELECT_AT_LEAST_ONE_DAY' | translate }}
    </div>

    <ion-card *ngFor="let time of times; let index = index">
        <div class="timeGrid">
            <div class="timeBlock">
                <h3>{{ 'OPENINGHOURS.START_TIME' | translate }}</h3>
                <ion-datetime
                    display-format="HH:mm"
                    picker-format="HH:mm"
                    presentation="time"
                    [(ngModel)]="time.start"
                ></ion-datetime>
            </div>
            <div class="timeBlock">
                <h3>{{ 'OPENINGHOURS.END_TIME' | translate }}</h3>
                <ion-datetime
                    display-format="HH:mm"
                    picker-format="HH:mm"
                    presentation="time"
                    [(ngModel)]="time.end"
                ></ion-datetime>
            </div>
        </div>
        <ion-button
            color="danger"
            (click)="removeInteval(index)"
            fill="clear"
            expand="full"
        >
            {{ 'OPENINGHOURS.DELETE_INTERVAL' | translate }}
        </ion-button>
    </ion-card>

    <ion-button
        color="success"
        (click)="addNewInteval()"
        expand="block"
        class="addInterval"
    >
        {{ 'OPENINGHOURS.ADD_INTERVAL' | translate }}
    </ion-button>
</ion-content>

<ion-footer id="footer">
    <ion-button (click)="cancel()" fill="clear">
        <ion-icon name="close" slot="start"></ion-icon>
        {{ 'SHARED.CANCEL' | translate }}
    </ion-button>
    <div class="spacer"></div>
    <ion-button
        (click)="submit(times, days)"
        [disabled]="!dayIsSelected || times.length == 0"
        >Submit</ion-button
    >
</ion-footer>
