<ion-header>
    <div class="searchContainer">
        <ion-input
            [placeholder]="translate.instant('MODAL_SELECTED_ITEM.ADD_TAG_PLACEHOLDER')"
            [(ngModel)]="searchFilter"
        ></ion-input>
    </div>
</ion-header>

<ion-content>
    @if (searchFilter.length == 0) {
    <ion-item-group>
        @for (field of moreFields() | filterByList:usedList(); track field) {
        <ion-item>
            <ion-label (click)="select(field)">
                <h3>{{ tagsService.presets[field].lbl[language] }}</h3>
                <p>{{ field | toOsmTag }}</p>
            </ion-label>
        </ion-item>
        }
    </ion-item-group>
    } @if (searchFilter.length > 0) {
    <ion-item-group>
        @if (!usedList().includes(nameToOsmKey(searchFilter)) &&
        nameToOsmKey(searchFilter).length != 0) {
        <ion-item>
            <ion-label (click)="select(searchFilter)">
                @if (tagsService.presets[nameToOsmKey(searchFilter)]) {
                <h3>
                    {{
                    tagsService.presets[nameToOsmKey(searchFilter)].lbl[language]
                    }}
                </h3>
                }
                <p>{{ searchFilter | toOsmTag }}</p>
            </ion-label>
        </ion-item>
        } @for (preset of presets | filterPresetsByList:usedList() |
        removeBrands | searchFor:searchFilter:language; track preset) {
        <ion-item>
            <ion-label (click)="select(preset._id)">
                <h3>{{ preset.lbl[language] }}</h3>
                <p>{{ preset._id | toOsmTag}}</p>
            </ion-label>
        </ion-item>
        }
    </ion-item-group>
    }
</ion-content>

<ion-footer>
    <div class="actions">
        <ion-button tappable (click)="dismiss()" fill="clear">
            <ion-icon name="close" slot="start"></ion-icon>
            {{ 'SHARED.CANCEL' | translate }}
        </ion-button>
    </div>
</ion-footer>
