<div class="wrapper" [ngSwitch]="typeFiche">
    <ion-fab class="toogleCodeButton">
        <ion-fab-button size="small" (click)="toogleCode()">
            <ion-icon *ngIf="displayCode" name="code-working"> </ion-icon>
            <ion-icon *ngIf="!displayCode" name="code"> </ion-icon>
        </ion-fab-button>
    </ion-fab>

    <!-- -------------------------SOF *ngSwitchCase="'Read'"------------------------------------ -->
    <div *ngSwitchCase="'Read'" class="modal-content">
        <ion-header>
            <ion-toolbar>
                <ion-title>
                    {{(findElement(tags,{key:'name'}).value != '') ?
                    findElement(tags,{key:'name'}).value :
                    ('MODAL_SELECTED_ITEM.NO_NAME' | translate) }}
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <div class="content">
            <meta-card
                *ngIf="feature.properties.meta"
                [feature]="feature"
                [displayCode]="displayCode"
                [languageUi]="configService.getUiLanguage()"
                [lastSurvey]="lastSurvey"
            >
            </meta-card>

            <app-alert
                [tagConfig]="tagConfig"
                [language]="this.configService.config.languageTags"
                [countryCode]="this.configService.config.countryTags"
                (fixDeprecated)="fixDeprecated($event)"
            >
            </app-alert>

            <!--Primary Key-->
            <primary-key
                [displayCode]="displayCode"
                [language]="configService.config.languageTags"
                [tagConfig]="tagConfig"
                [jsonSprites]="tagsService.jsonSprites"
            >
            </primary-key>

            <survey-card
                *ngIf="shouldShowSurveyCard()"
                (yes)="handleSurveyYes()"
                (no)="handleSurveyNo()"
            ></survey-card>

            <div
                *ngFor="let tag of tags | filterExcludeKeys:tagConfig:configService.config.countryTags:tagsService.primaryKeys:tagsService.presets | orderByPreset:tagConfig"
            >
                <read-presets
                    *ngIf="tag.preset && tag.value !== ''; else readOtherTag"
                    [displayCode]="displayCode"
                    [tag]="tag"
                    [preset]="tag.preset"
                    [language]="this.configService.config.languageTags"
                    [countryCode]="this.configService.config.countryTags"
                >
                </read-presets>
                <ng-template #readOtherTag>
                    <read-other-tag [tag]="tag" *ngIf="!tag.preset ">
                    </read-other-tag>
                </ng-template>
            </div>
        </div>

        <ion-footer>
            <div
                *ngIf="feature.properties['changeType']"
                class="modifiedWarning"
            >
                <ion-icon name="warning"></ion-icon>
                <span
                    >{{ 'MODAL_SELECTED_ITEM.WARN_NODE_EDITED' | translate
                    }}</span
                >
                <div class="spacer"></div>
                <ion-button
                    (click)="cancelChange()"
                    color="danger"
                    [disabled]="mapService.isProcessing | async"
                >
                    <ion-icon name="reload" slot="start"></ion-icon>
                    {{ 'SHARED.CLEAR' | translate }}
                </ion-button>
            </div>

            <div class="actions">
                <div class="left section">
                    <ion-button (click)="dismiss()" fill="clear">
                        <ion-icon name="close" slot="start"></ion-icon>
                        {{ 'SHARED.CLOSE' | translate }}
                    </ion-button>
                </div>
                <div class="right section">
                    <ion-button
                        (click)="updateMode()"
                        [disabled]="mapService.isProcessing | async"
                    >
                        <ion-icon name="pencil" slot="start"></ion-icon>
                        {{ 'SHARED.EDIT' | translate }}
                    </ion-button>
                </div>
            </div>
        </ion-footer>
    </div>

    <!-- ------------------------- *ngSwitchCase="'EDIT'"------------------------------------ -->
    <div *ngSwitchCase="'Edit'" class="modal-content">
        <ion-header>
            <ion-toolbar>
                <ion-title>
                    <ion-input
                        type="text"
                        clearInput="true"
                        [placeholder]="'MODAL_SELECTED_ITEM.PLACEHOLDER_NAME' | translate"
                        [(ngModel)]="findElement(tags,{key : 'name'}).value"
                        autocorrect="off"
                        autocapitalize="off"
                    ></ion-input>
                </ion-title>
            </ion-toolbar>
        </ion-header>

        <div class="content">
            <div class="top-actions">
                <ion-fab>
                    <ion-fab-button
                        size="small"
                        (click)="saveFields(tagId, tags)"
                    >
                        <ion-icon src="./assets/fa/copy-solid.svg"></ion-icon>
                    </ion-fab-button>
                </ion-fab>

                <ion-fab style="margin-left: 45px" *ngIf="savedFields">
                    <ion-fab-button
                        size="small"
                        (click)="restoreFields(tagId, tags)"
                    >
                        <ion-icon src="./assets/fa/paste-solid.svg"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </div>

            <!--Alert-->
            <app-alert
                [tagConfig]="tagConfig"
                [language]="this.configService.config.languageTags"
                [countryCode]="this.configService.config.countryTags"
                (fixDeprecated)="fixDeprecated($event)"
            >
            </app-alert>

            <!--Primary key-->
            <primary-key
                [displayCode]="displayCode"
                [language]="configService.config.languageTags"
                [tagConfig]="tagConfig"
                [jsonSprites]="tagsService.jsonSprites"
                [isEditMode]="true"
                [isBookmarked]="tagConfig | isBookmarked:tagsService.bookmarksIds"
                (openPrimaryTagModal)="openPrimaryTagModal()"
                (toggleBookmark)="addOrRemoveBookmark(tagConfig)"
            >
            </primary-key>

            <!--Les presets-->
            <!--Le reste des tags-->

            <div
                *ngFor="let tag of tags | filterExcludeKeys:tagConfig:configService.config.countryTags:tagsService.primaryKeys:tagsService.presets | orderByPreset:tagConfig"
            >
                <edit-presets
                    *ngIf="(tag.preset || tagsService.presets[tag.key.replace(':', '/')]) ; else editOtherTag"
                    [preset]="tag.preset ? tag.preset : tagsService.presets[tag.key.replace(':', '/')]"
                    [displayCode]="displayCode"
                    [tag]="tag"
                    [language]="this.configService.config.languageTags"
                    (openPrimaryListModal)="openModalList(tag, (tag.preset ? tag.preset : tagsService.presets[tag.key.replace(':', '/')]))"
                    (addTags)="addPresetsTags($event)"
                >
                </edit-presets>

                <ng-template #editOtherTag>
                    <edit-other-tag [tag]="tag" (deleteTag)="deleteTag($event)">
                    </edit-other-tag>
                </ng-template>
            </div>

            <!--Nouveaux tag-->
            <ion-button
                tappable
                color="secondary"
                (click)="openModalAddTag()"
                style="margin: 5px 10px 10px"
                expand="block"
            >
                <ion-icon name="add"> </ion-icon>
            </ion-button>
        </div>

        <ion-footer>
            <div
                *ngIf="feature.properties['changeType']"
                class="modifiedWarning"
            >
                <ion-icon name="warning"></ion-icon>
                <span
                    >{{ 'MODAL_SELECTED_ITEM.WARN_NODE_EDITED' | translate
                    }}</span
                >
                <div class="spacer"></div>
                <ion-button
                    (click)="cancelChange()"
                    color="danger"
                    [disabled]="mapService.isProcessing | async"
                >
                    <ion-icon name="reload" slot="start"></ion-icon>
                    {{ 'SHARED.CLEAR' | translate }}
                </ion-button>
            </div>

            <div class="actions">
                <div class="left section">
                    <ion-button tappable (click)="dismiss()" fill="clear">
                        <ion-icon name="close" slot="start"></ion-icon>
                        {{ 'SHARED.CLOSE' | translate }}
                    </ion-button>
                </div>
                <div class="middle section">
                    <ion-button
                        tappable
                        *ngIf="feature.properties.type === 'node'"
                        [disabled]="feature.properties.usedByWays || (mapService.isProcessing | async)"
                        (click)="moveOsmElement()"
                    >
                        <ion-icon name="move"></ion-icon>
                    </ion-button>

                    <ion-button
                        tappable
                        color="danger"
                        *ngIf="feature.properties.type == 'node' && mode=='Update'"
                        [disabled]="(mapService.isProcessing | async)"
                        (click)="presentConfirm()"
                    >
                        <ion-icon name="trash"></ion-icon>
                    </ion-button>
                </div>
                <div class="right section">
                    <ion-button
                        tappable
                        color="secondary"
                        *ngIf="mode =='Update'"
                        [disabled]="mapService.isProcessing | async"
                        (click)="updateOsmElement(tagConfig)"
                    >
                        <ion-icon name="checkmark" slot="start"></ion-icon>
                        {{ 'SHARED.SAVE' | translate }}
                    </ion-button>

                    <ion-button
                        tappable
                        color="secondary"
                        *ngIf="mode =='Create'"
                        [disabled]="mapService.isProcessing | async"
                        (click)="createOsmElement(tagConfig)"
                    >
                        <ion-icon name="checkmark" slot="start"></ion-icon>
                        {{ 'SHARED.CREATE' | translate }}
                    </ion-button>
                </div>
            </div>
        </ion-footer>
    </div>
    <!--EOF *ngSwitchCase="'Update'"-->
    <div *ngSwitchCase="'Loading'" class="modal-content">
        <ion-header>
            <ion-toolbar>
                <ion-title> Loading... </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <h1>Loading ...</h1>
        </ion-content>
        <ion-footer> </ion-footer>
    </div>
</div>
