modal-primary-tag{
    ion-header{
        height: 65px;
    }
    $tabHeight: 50px;
    $searchSelectHeight : 65px;

    #tab{

        position: absolute;
        top: 0;
        height: $tabHeight;
        width: 100%;
        display: flex;

    }

    #searchSelect{
        position: absolute;
        top:  $tabHeight;
        height: $searchSelectHeight ;
        width: 100%;
        display: flex;

    }
    #tab button{
        width: 50%;
        height: 50px;
        margin: 0;

    }

    // ion-conten .primaryTag{
    //     margin-top: 130px;
    // }
    .tableListe{
        width: 100%;
    }

    .listTag{
        position: absolute;
        top: $searchSelectHeight +  $tabHeight;
        bottom: 50px;
        width: 100%;
        overflow-y: scroll;
    }

    #footer{
        position: absolute;
        bottom: 0;
        height: 50px;
        width: 100%
    }

    td{
        padding: 10px;
        border-bottom: 1px solid grey;
     
    }
}



