@if (tagConfig(); as config) {
<article class="primary-key" [class.is-editable]="isEditMode()">
    <button class="primary-key__main" type="button" (click)="emitOpenModal()">
        <span
            class="primary-key__icon"
            [style.background-color]="config.markerColor || '#26352f'"
            aria-hidden="true"
        >
            <app-icon
                [icon]="config.icon || null"
                [jsonSprites]="jsonSprites()"
            ></app-icon>
        </span>
        <span class="primary-key__copy">
            @if (displayCode()) {
            <span class="code"
                ><mat-icon fontSet="material-symbols-rounded">code</mat-icon>{{
                config.tags | displayTags }}</span
            >
            } @else {
            <strong
                >{{ config.lbl?.[language()] || config.lbl?.['en'] }}</strong
            >
            @if (config.description?.[language()] || config.description?.['en'])
            {
            <span
                >{{ config.description?.[language()] ||
                config.description?.['en'] }}</span
            >
            } }
        </span>
        @if (isEditMode()) {
        <mat-icon
            class="change-icon"
            fontSet="material-symbols-rounded"
            aria-hidden="true"
            >swap_horiz</mat-icon
        >
        }
    </button>

    @if (isEditMode()) {
    <button
        mat-icon-button
        class="favorite-action"
        type="button"
        [class.is-bookmarked]="isBookmarked()"
        [attr.aria-label]="(isBookmarked() ? 'A11Y.REMOVE_BOOKMARK' : 'A11Y.ADD_BOOKMARK') | translate"
        (click)="emitToggleBookmark()"
    >
        <mat-icon class="favorite-icon" fontSet="material-symbols-rounded"
            >favorite</mat-icon
        >
    </button>
    }
</article>
}
