<ion-card color="primary">
    <ion-card-content>
        <div class="meta-card">
            <p>
                {{ 'MODAL_SELECTED_ITEM.META_VERSION' | translate }} {{
                feature.properties?.meta.version }}
            </p>
            <p *ngIf="feature.properties.meta.timestamp === 0">
                {{ 'MODAL_SELECTED_ITEM.META_BEING_CREATED' | translate }}
            </p>
            <p *ngIf="feature.properties.meta.timestamp !== 0">
                {{ feature.properties.meta?.version > 1 ?
                ('MODAL_SELECTED_ITEM.META_UPDATED_AT_DATE' | translate) :
                ('MODAL_SELECTED_ITEM.META_CREATED_AT_DATE' | translate) }}
                <span *ngIf="displayCode">
                    <!-- TODO: Local date -->
                    {{ feature.properties.meta.timestamp | date: 'dd/MM/yyyy
                    HH:mm' }}
                </span>
                <span *ngIf="!displayCode">
                    {{ feature.properties.meta.timestamp | amTimeAgo }}
                </span>
            </p>
            <p>
                {{ 'MODAL_SELECTED_ITEM.META_BY' | translate }} {{
                feature.properties.meta?.user ? feature.properties.meta?.user :
                ('MODAL_SELECTED_ITEM.META_MYSELF' | translate) }}
            </p>
            <p *ngIf="usedByWays" class="warning">
                {{ ('MODAL_SELECTED_ITEM.THIS_NODE_IS_USED_BY_A_WAY' |
                translate) .replace('{x}', usedByWays.length) }}
            </p>
        </div>
        <div class="actions">
            <ion-fab-button
                class="confirmPresence"
                [ngClass]="{confirmed: feature.properties['changeType']}"
                (click)="emitConfirmPresence()"
                [disabled]="mapService.isProcessing | async"
            >
                <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
        </div>
    </ion-card-content>
</ion-card>
