<ion-card color="primary">
    <ion-card-content>
        <p>
            {{ 'MODAL_SELECTED_ITEM.META_VERSION' | translate }} {{
            feature().properties?.meta.version }}
        </p>
        @if (feature().properties.meta.timestamp === 0) {
        <p>{{ 'MODAL_SELECTED_ITEM.META_BEING_CREATED' | translate }}</p>
        } @if (feature().properties.meta.timestamp !== 0) {
        <p>
            {{ feature().properties.meta?.version > 1 ?
            ('MODAL_SELECTED_ITEM.META_UPDATED_AT_DATE' | translate) :
            ('MODAL_SELECTED_ITEM.META_CREATED_AT_DATE' | translate) }} @if
            (displayCode()) {
            <span>
                {{ feature().properties.meta.timestamp | date: 'short' }}
            </span>
            } @if (!displayCode()) {
            <span>
                {{ feature().properties.meta.timestamp | relativeTime:
                languageUi() }}
            </span>
            }
        </p>
        }
        <p>
            {{ 'MODAL_SELECTED_ITEM.META_BY' | translate }} {{
            feature().properties.meta?.user ? feature().properties.meta?.user :
            ('MODAL_SELECTED_ITEM.META_MYSELF' | translate) }}
        </p>
        @if (lastSurvey(); as survey) {
        <p>
            {{ 'MODAL_SELECTED_ITEM.LAST_SURVEY' | translate }} @if
            (!displayCode()) {
            <span> {{ survey | relativeTime: languageUi() }} </span>
            } @if (displayCode()) {
            <span> {{ survey | date: 'short'}} </span>
            }
        </p>
        } @if (usedByWays(); as ways) {
        <p class="warning">
            {{ ('MODAL_SELECTED_ITEM.THIS_NODE_IS_USED_BY_A_WAY' | translate)
            .replace('{x}', ways.length) }}
        </p>
        }
    </ion-card-content>
</ion-card>
