<ion-card *ngIf="tag.preset?.type === 'select'">
    <ion-card-header>
        <b *ngIf="!displayCode && (tag.preset?.lbl[language] || tag.preset?.lbl['en']); else diplayCodeSelect">{{tag.preset?.lbl[language] || tag.preset?.lbl['en']}}</b>
        <ng-template #diplayCodeSelect>
        <ion-icon name="code"></ion-icon>
        {{tag.preset?.key}}
    </ng-template>
        
    </ion-card-header>

    <ion-card-content>

    <div class="wrapperEdit2cols">
        <div class="contentEdit2cols">
           
            <div *ngIf="!displayCode">
                    <ion-select  [interface]="'popover'" [(ngModel)]="tag.value"
                    style="width: 100%; min-width: 100%;padding-left:0;"
                >
                <ion-select-option   [value]="''" >
                    <p class="undefindedListValue"> {{'MODAL_SELECTED_ITEM.UNDEFINED_VALUE'| translate}} </p> 
                </ion-select-option>
                    <ion-select-option  *ngFor ="let item of tag.preset.options;" [value]="item.v" >
                            <p class="displayLabelListValue">  {{item.lbl[language] || item.lbl['en']}}</p> 
                    </ion-select-option>

                    <ion-select-option  *ngIf="!(tag | displayPresetLabel);" [value]="tag.value" >
                           <p class="displayLabelListValue"> {{(tag.value)}}</p> 
                    </ion-select-option>
                    

                </ion-select>
            </div>
              
            <ion-item *ngIf="displayCode">
                    <ion-input type="text" [(ngModel)]="tag.value" [placeholder]="tag.key"></ion-input>
            </ion-item>
                
                
     
        </div>
        <div class="buttonEdit2cols">
            <ion-col width-10 class="ion-col10">
            <ion-icon (click)="tag.value = ''" name="close" style="width: 2em; height: 2em;"></ion-icon>
            </ion-col>
        </div>
    </div>

    </ion-card-content>
</ion-card>



<ion-card *ngIf="tag.preset?.type === 'list'">
    <ion-card-header  (click)="emitOpenModal(tag)">
        <b *ngIf="!displayCode">{{ tag.preset?.lbl[language] || tag.preset?.lbl['en']  }} 
        <ion-icon name="settings"></ion-icon>
        </b>

        <b *ngIf="displayCode"> <ion-icon name="code"></ion-icon> {{ tag.preset?.key }}</b>
    </ion-card-header>

    <ion-card-content>

    <div class="wrapperEdit2cols">
        <div class="contentEdit2cols">
                <ion-item *ngIf="!displayCode && ((tag | displayPresetLabel) || tag.value =='' ); else noPreset; let preset" (click)="emitOpenModal(tag)">
                    <p *ngIf="tag.value !=''" class="displayLabelListValue">{{ preset?.lbl[language] || preset?.lbl['en']  }} </p>
                    <p class="undefindedListValue" *ngIf="tag.value ==''">  {{'MODAL_SELECTED_ITEM.UNDEFINED_VALUE'| translate}} </p>
                </ion-item>

                
                <ng-template #noPreset>
                        <ion-label color="primary"> <ion-icon name="code"></ion-icon> </ion-label>
                        <ion-input type="text" [(ngModel)]="tag.value" [placeholder]="tag.key"></ion-input>
                </ng-template>
           
        </div>
        <div class="buttonEdit2cols">
            <ion-icon (click)="tag.value = ''" name="close" style="width: 2em; height: 2em;"></ion-icon>
        </div>
    </div>

    </ion-card-content>
</ion-card>



<ion-card *ngIf="tag.preset?.type === 'number'">
    <ion-card-header>
        <b *ngIf="!displayCode">{{tag.preset?.lbl[language] || tag.preset?.lbl['en']}}</b>
        <b *ngIf="displayCode"> <ion-icon name="code"></ion-icon> {{tag.preset?.key}}</b>
    </ion-card-header>

    <ion-card-content>
    <div class="wrapperEdit2cols">
        <div class="contentEdit2cols">
                <ion-item style="padding-left: 0px">
                    <ion-input type="number" [(ngModel)]="tag.value" [placeholder]="tag.key"></ion-input>
                </ion-item>
        </div>


        <div class="buttonEdit2cols">
            <ion-icon (click)="tag.value = ''" name="close" style="width: 2em; height: 2em;"></ion-icon>
        </div>

    </div>
    </ion-card-content>
</ion-card>



<ion-card *ngIf="tag.preset?.type === 'text'">
    <ion-card-header>
        <b *ngIf="!displayCode">{{tag.preset?.lbl[language] || tag.preset?.lbl['en']}}</b>
        <b *ngIf="displayCode"> <ion-icon name="code"></ion-icon> {{ tag.preset?.key }}</b>
    </ion-card-header>

    <ion-card-content>
    <div class="wrapperEdit2cols">
        <div class="contentEdit2cols">
                <ion-item style="padding-left: 0px">
                    <ion-input type="text" [(ngModel)]="tag.value" [placeholder]="tag.key"></ion-input>
                </ion-item>
        </div>
        <div class="buttonEdit2cols">
            <ion-icon (click)="tag.value = ''" name="close" style="width: 2em; height: 2em;"></ion-icon>
        </div>

    </div>
    </ion-card-content>
</ion-card>