<ion-card>
    <ion-card-header>
        <b *ngIf="!displayCode">{{preset?.lbl[language] || preset?.lbl['en']  }}</b>
        <b *ngIf="displayCode">{{preset?.key}}</b>
    </ion-card-header>
    <ion-card-content *ngIf="preset?.type != 'opening_hours'">
       <div *ngIf="preset?.type == 'opening_hours'">
      
       </div>

        <p *ngIf="!displayCode && (tag | displayPresetLabel:preset) ; else noPreset ; let pr">
            {{pr.lbl[language]  || pr.lbl['en']}}
        </p>

        <ng-template #noPreset>
            <ion-icon name="code" *ngIf="!['number', 'text','tel', 'url', 'email'].includes(preset?.type)"></ion-icon>
            {{tag.value}}

        </ng-template>

    </ion-card-content>


    <ion-card-content *ngIf="preset?.type == 'opening_hours'">
        <app-opening-hours *ngIf="!displayCode ; else noPreset"   [openingHours]="tag.value" [displayCode]="displayCode"> </app-opening-hours>

        <ng-template #noPreset>
            <ion-icon name="code"></ion-icon>
            {{tag.value}}
        </ng-template>
       
    </ion-card-content>

</ion-card>