.wrapperEdit2cols{
    width: 100%;
    min-height: 32px;
    
}

.contentEdit2cols{
    position: relative;
    float: left;
    min-height: 32px;
    margin-bottom: auto;
    margin-top: auto;
    height: 100%;
    width: calc(100% - 32px);
}

.buttonEdit2cols{
    width: 32px;
    height: 32px;
    display: flex;
    height: 100%;
}

ion-card{
    padding-bottom: 1em;
}

.primaryKeyLabel {
    font-size: 1.2em;
    font-weight: bolder;
}

.undefindedListValue{
    color: rgba(0, 0, 0, 0.5);
}

.displayLabelListValue{
    font-weight: bolder;
}

.description{
    font-size: 0.8em;
    opacity: 0.8;
}

.iconImgPNG{
    margin-left: auto;
    margin-right: auto;
    // margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgCenter{
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.iconImg{
    max-width: 26px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.primaryCardContent{
    margin-left: 40px;
}

