<ion-header color="primary">
  <ion-toolbar color="primary">
        <ion-buttons style="min-width: 32px;" (click)="navCtrl.back()" slot="primary"> 
                <ion-icon name="arrow-back"></ion-icon> 
             </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

        <ion-item>
                <ion-input [(ngModel)]="username" 
                placeholder="Email ou nom d'utilisateur OpenStreetMap" ></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-input [(ngModel)]="password" type="password" placeholder="Mot de passe"></ion-input>
        </ion-item>

        <ion-card *ngIf="errorLogin" color="danger" >
            <ion-card-content>
                {{errorLogin.error}} 
            </ion-card-content>
          </ion-card>
   

        <ion-button 
        style="margin-top: 16px; width: 100%;"
        (click)="login()" block>Se connecter</ion-button>


</ion-content>

