<ion-header color="primary">
  <ion-toolbar color="primary">
        <ion-buttons style="min-width: 32px;" (click)="navCtrl.back()" slot="primary"> 
                <ion-icon name="arrow-back"></ion-icon> 
             </ion-buttons>
    <ion-title>
      {{'LOGIN.LOGIN' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

        <ion-item>
                <ion-input [(ngModel)]="username" 
                [placeholder]="'LOGIN.USERNAME_PLACEHOLDER' | translate " ></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-input [(ngModel)]="password" type="password" 
            [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate "></ion-input>
        </ion-item>

        <ion-card *ngIf="errorLogin" color="danger" >
            <ion-card-content>
                {{errorLogin.error}} 
            </ion-card-content>
        </ion-card>
   

        <ion-button 
        style="margin-top: 16px; width: 100%;"
        (click)="login()" block>{{ 'LOGIN.LOGIN_BUTTON' | translate }}</ion-button>


</ion-content>

