<article class="read-field">
    <header>
        <strong>{{
            displayCode()
                ? preset().key
                : preset().lbl[language()] || preset().lbl['en']
        }}</strong>
        @if (preset().type === 'url' && tag().value) {
            <a
                [href]="tag().value"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Ouvrir le lien"
            >
                <mat-icon fontSet="material-symbols-rounded"
                    >open_in_new</mat-icon
                >
            </a>
        }
    </header>

    @if (preset().key === 'opening_hours' && !displayCode()) {
        <app-opening-hours
            [openingHours]="openingHoursValue"
            [displayCode]="displayCode()"
        ></app-opening-hours>
    } @else if (
        !displayCode() && (tag() | displayPresetLabel: preset());
        as option
    ) {
        <p>{{ option.lbl?.[language()] || option.lbl?.['en'] || option.v }}</p>
    } @else {
        <p class="code-value">
            <mat-icon fontSet="material-symbols-rounded">code</mat-icon
            >{{ tag().value }}
        </p>
    }
</article>
