<div *ngIf="!loading" style="height:100%; background-color: white;">
  <div>
    <div id="searchSelect">
      <div id="searchDiv">
        <ion-searchbar
          [(ngModel)]="searchText"
          [debounce]="300"
        ></ion-searchbar>
      </div>
    </div>

    <div class="listTag" *ngIf="searchText.length > 2 ">
      <app-tags-list 
        [tags]="currentListOfTags"
        [countryTags]="configService.config.countryTags"
        [languageTags]="configService.config.languageTags"
        [searchText]="searchText"
        [oldTagConfig]="oldTagConfig"
        [bookmarks]="bookmarks"
        [jsonSprites]="tagsService.jsonSprites"
        [geometriesFilter]="geometriesPossible"
        (addRemoveToBookmarks)="addRemoveToBookmarks($event)"
        (selected)="selected($event)"
        >

      </app-tags-list>

      <!-- Add custum value (from searchBar to the key) -->
      <div>
			<h4> {{ 'MODAL_SELECTED_ITEM.CUSTOM_KEY_VALUE' | translate}} </h4>
          <ion-chip *ngFor="let k of primaryKeys">
            <ion-label color="primary" (click)="addCustomValue(k,searchText)" >{{ k }}={{searchText}}</ion-label>
          </ion-chip>
        
      </div>
    </div>

    <div
      class="listTag"
      *ngIf="searchText.length < 3 "
      (swipeleft)="displayType = 'bookmarks'" 
      (swiperigth)="displayType = 'lastTags'"
    >
      <h4 style="text-align: center;">
        {{ 'MODAL_SELECTED_ITEM.SEARCH_TAG_AT_LEAST_3_LETTERS' | translate}}
      </h4>

      <div class="buttonsSwitchType">
          <ion-button ion-button  (click)="displayType = 'lastTags'" class="buttonSwitchType"  [disabled]="displayType === 'lastTags'">
              lastTags
            </ion-button>
        <ion-button ion-button  (click)="displayType = 'bookmarks'"  class="buttonSwitchType" [disabled]="displayType === 'bookmarks'">
          Bookmarks
        </ion-button>
     
      </div>

      <div class="lastTags" *ngIf="displayType == 'lastTags'"  >
        <h4> {{'MODAL_SELECTED_ITEM.LAST_TAG_USED' | translate}} </h4>
        <app-tags-list 
        [tags]="lastTagsAdded"
        [countryTags]="configService.config.countryTags"
        [languageTags]="configService.config.languageTags"
        [searchText]="''"
        [oldTagConfig]="oldTagConfig"
        [bookmarks]="bookmarks"
        [jsonSprites]="tagsService.jsonSprites"
        (addRemoveToBookmarks)="addRemoveToBookmarks($event)"
        (selected)="selected($event)"
        >
      </app-tags-list>

      </div>
 
      <div class="bookmarks" *ngIf="displayType == 'bookmarks'" >
        <h4>{{ 'MODAL_SELECTED_ITEM.BOOKMARKS' | translate }}</h4>
        <app-tags-list 
        [tags]="bookmarks"
        [countryTags]="configService.config.countryTags"
        [languageTags]="configService.config.languageTags"
        [searchText]="''"
        [oldTagConfig]="oldTagConfig"
        [bookmarks]="bookmarks"
        [jsonSprites]="tagsService.jsonSprites"
        (addRemoveToBookmarks)="addRemoveToBookmarks($event)"
        (selected)="selected($event)"
        >
    </app-tags-list>
  </div>
	</div>
	

  </div>

  <div id="footer">
    <ion-button ion-button color="danger" (click)="cancel()">
      {{ 'SHARED.CANCEL' | translate}}
    </ion-button>
  </div>

  <div *ngIf="loading" style="height:100%">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          {{ 'MODAL_SELECTED_ITEM.LOADING' | translate}}
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content> </ion-content>

    <ion-footer> </ion-footer>
  </div>
</div>
