<!-- <div class="loadingFullScreen" *ngIf="loading" >
		<div style="width: 100%;text-align: center; padding: 3em;"> 
			{{ 'SHARED.LOADING' | translate}}
		</div>
		<div style="width: 100%;text-align: center; "> 
			<ion-spinner></ion-spinner>
		</div>	
</div> -->


<ion-content class="ion-padding home" #mycontent>

	<div id="map" style="height: 100%; width: 100%" (resized)="onMapResized($event)">

	
		<ion-fab style="left: 0px;top: 0px; margin:6px;" >
				<ion-badge color="danger" *ngIf="newVersion"
				style=" position: absolute;z-index: 1;left: 36px;"
				>!</ion-badge>
			<ion-fab-button tappable ion-fab fab-bottom (click)="openMenu()" >
				
				<ion-icon name="menu"></ion-icon>
			</ion-fab-button>
		</ion-fab>

		<ion-fab style="right:0 ;top: 0; margin:6px; margin-right:46px"
			*ngIf="dataService.geojsonChanged && dataService.geojsonChanged.features.length > 0 && !mapService.markerMoving" >
			<ion-fab-button (click)= "navCtrl.navigateForward('/pushData')">
				<ion-icon name="cloud-upload"></ion-icon>
			</ion-fab-button>
		</ion-fab>

		<ion-fab *ngIf="!loadingData" style="left: 0; bottom: 0;  margin:6px;" >
			<ion-fab-button tappable  (click)="loadData()" arrow="true" event="press" [disabled]="configService.currentZoom < 14">
				<ion-icon *ngIf="!loadingData" name="refresh"></ion-icon>
				<ion-spinner *ngIf="loadingData" ></ion-spinner>
			</ion-fab-button>
		</ion-fab> 
		<ion-fab *ngIf="loadingData" style="left: 0; bottom: 0;  margin:6px;" >
			<ion-fab-button  disabled>
				<ion-spinner ></ion-spinner>
			</ion-fab-button>
		</ion-fab> 

		<ion-fab 
			style="left: 0; bottom: 0; margin:6px; margin-bottom:66px; " >
			<ion-fab-button tappable ion-fab fab-bottom [color]="mapService.isDisplaySatelliteBaseMap ? 'light' : 'secondary'  "
			 (click)="mapService.displaySatelliteBaseMap(configService.getBaseMapId(), !mapService.isDisplaySatelliteBaseMap)">
				<ion-icon name="image"></ion-icon>
			</ion-fab-button>
		</ion-fab>

		<ion-fab right bottom 
		style="right: 0; bottom: 0; margin:6px; margin-bottom:66px;"
		*ngIf="!mapService.markerMoving && !mapService.markerMoveMoving" >
			<ion-fab-button tappable ion-fab fab-bottom color="danger" 
			(click)="mapService.positionateMarker()" [disabled]="mapService.loadingData">
				<ion-icon name="add"></ion-icon>
				
			</ion-fab-button>
		</ion-fab>

		<ion-fab right *ngIf="!mapService.markerMoving && !mapService.markerMoveMoving"
			style="right: 0; bottom: 0; margin:6px;">
			<ion-fab-button tappable ion-fab fab-bottom 
			(click)="mapService.centerOnMyPosition()" [disabled]="!locationService.gpsIsReady">
				<ion-icon name="locate"></ion-icon>
			</ion-fab-button>
		</ion-fab>

		<ion-fab right bottom *ngIf="mapService.markerMoving"
		style="right: 0; bottom: 0; margin:6px;">
			<ion-fab-button tappable  fab-bottom color="secondary" (click)="mapService.openModalOsm()">
				<ion-icon name="checkmark"></ion-icon>
			</ion-fab-button>
		</ion-fab>

		<ion-fab style="right: 60px; bottom: 0; margin:6px; " 
			*ngIf="mapService.markerMoving">
			<ion-fab-button tappable  fab-bottom color="danger" (click)="mapService.cancelNewMarker()">
				<ion-icon name="close"></ion-icon>
			</ion-fab-button>
		</ion-fab>


		<ion-fab style="right: 60px; bottom: 0; margin:6px;"
		 *ngIf="mapService.markerMoveMoving">
			<ion-fab-button fab-bottom color="secondary" (click)="mapService.openModalWithNewPosition()">
				<ion-icon name="checkmark"></ion-icon>
			</ion-fab-button>
		</ion-fab>


		<ion-fab style="right: 0; bottom: 0; margin:6px;"
		 *ngIf="mapService.markerMoveMoving">
			<ion-fab-button ion-fab fab-bottom color="danger" (click)="mapService.cancelNewPosition()">
				<ion-icon name="close"></ion-icon>
			</ion-fab-button>
		</ion-fab>

	</div>
</ion-content>

<menu-component [menuIsOpen]="menuIsOpen" 
[newVersion]="newVersion"  
(closeEvent)="closeMenu()"
(exitApp)= "exitApp()"

> </menu-component>