<ion-content class="ion-padding home" #mycontent>
    <div id="map" #map data-testid="map" style="height: 100%; width: 100%">
        <!-- Top left button to open menu -->
        <ion-fab
            style="left: 0px; top: 0px; margin: 6px"
            [title]="translate.instant('MAIN.BUTTONS.MENU')"
        >
            @if (newVersion) {
            <ion-badge
                color="danger"
                style="position: absolute; z-index: 1; left: 36px"
                >!</ion-badge
            >
            }
            <ion-fab-button tappable ion-fab fab-bottom (click)="openMenu()">
                <ion-icon name="menu"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <!-- Top right button to upload changes on OSM -->
        @if (dataService.geojsonChanged &&
        dataService.geojsonChanged.features.length > 0 &&
        !mapService.markerMoving()) {
        <ion-fab
            style="right: 0; top: 0; margin: 6px; margin-right: 46px"
            [title]="translate.instant('MAIN.BUTTONS.UPLOAD')"
        >
            <ion-fab-button
                data-testid="open-upload"
                (click)="navCtrl.navigateForward('/pushData')"
            >
                <ion-icon name="cloud-upload"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        }

        <!-- Bottom left button to get data from OSM -->
        @if (!mapService.isProcessing()) {
        <ion-fab
            style="left: 0; bottom: 34px; margin: 6px"
            [title]="translate.instant('MAIN.BUTTONS.LOAD_DATA')"
        >
            <ion-fab-button
                data-testid="load-osm-data"
                tappable
                (click)="loadData()"
                arrow="true"
                event="press"
                [disabled]="configService.currentZoom < 14"
            >
                @if (!mapService.isProcessing()) {
                <ion-icon name="refresh"></ion-icon>
                } @if (mapService.isProcessing()) {
                <ion-spinner></ion-spinner>
                }
            </ion-fab-button>
        </ion-fab>
        }
        <!-- Bottom left button to get data from OSM with state loading -->
        @if (mapService.isProcessing()) {
        <ion-fab
            style="left: 0; bottom: 34px; margin: 6px"
            [title]="translate.instant('MAIN.BUTTONS.LOADING_DATA')"
        >
            <ion-fab-button data-testid="loading-osm-data" disabled>
                <ion-spinner></ion-spinner>
            </ion-fab-button>
        </ion-fab>
        }

        <!-- Bottom left button to toggle between base map and aerial imagery -->
        <ion-fab style="left: 0; bottom: 100px; margin: 6px">
            <ion-fab-button
                tappable
                ion-fab
                fab-bottom
                [color]="mapService.isDisplaySatelliteBaseMap ? 'light' : 'secondary'  "
                (click)="mapService.displaySatelliteBaseMap(configService.getBasemap(), !mapService.isDisplaySatelliteBaseMap)"
                [title]="translate.instant(mapService.isDisplaySatelliteBaseMap ? 'MAIN.BUTTONS.VIEW_STYLED_MAP' : 'MAIN.BUTTONS.VIEW_AREAL_MAP')"
            >
                <ion-icon name="image"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <!-- Bottom right button to add a new marker -->
        @if (!mapService.markerMoving() && !mapService.markerMoveMoving()) {
        <ion-fab
            right
            bottom
            style="right: 0; bottom: 100px; margin: 6px"
            [title]="translate.instant('MAIN.BUTTONS.ADD_NEW')"
        >
            <ion-fab-button
                data-testid="add-poi"
                tappable
                ion-fab
                fab-bottom
                color="danger"
                (click)="mapService.positionateMarker()"
                [disabled]="mapService.loadingData()"
            >
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        }

        <!-- Bottom right button to use GPS location -->
        @if (!mapService.markerMoving() && !mapService.markerMoveMoving()) {
        <ion-fab
            right
            style="right: 0; bottom: 34px; margin: 6px"
            [title]="translate.instant('MAIN.BUTTONS.CENTER_GPS')"
        >
            <ion-fab-button
                data-testid="center-on-gps"
                tappable
                ion-fab
                fab-bottom
                (click)="mapService.centerOnMyPosition()"
                [disabled]="!locationService.gpsIsReady()"
            >
                <ion-icon name="locate"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        }

        <!-- Bottom right button to accept creating new marker-->
        @if (mapService.markerMoving()) {
        <ion-fab
            right
            bottom
            style="right: 0; bottom: 34px; margin: 6px"
            [title]="translate.instant('MAIN.BUTTONS.CONFIRM_ADD')"
        >
            <ion-fab-button
                tappable
                fab-bottom
                color="secondary"
                (click)="mapService.openModalOsm()"
            >
                <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        }

        <!-- Bottom right button to cancel creating a new marker -->
        @if (mapService.markerMoving()) {
        <ion-fab
            style="right: 60px; bottom: 34px; margin: 6px"
            [title]="translate.instant('SHARED.CANCEL')"
        >
            <ion-fab-button
                tappable
                fab-bottom
                color="danger"
                (click)="mapService.cancelNewMarker()"
            >
                <ion-icon name="close"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        }

        <!-- Bottom right button to accept marker moving -->
        @if (mapService.markerMoveMoving()) {
        <ion-fab
            style="right: 60px; bottom: 34px; margin: 6px"
            [title]="translate.instant('MAIN.BUTTONS.CONFIRM_MOVE')"
        >
            <ion-fab-button
                data-testid="confirm-marker-move"
                fab-bottom
                color="secondary"
                (click)="mapService.openModalWithNewPosition()"
            >
                <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        }

        <!-- Bottom right button to cancel marker moving -->
        @if (mapService.markerMoveMoving()) {
        <ion-fab
            style="right: 0; bottom: 34px; margin: 6px"
            [title]="translate.instant('SHARED.CANCEL')"
        >
            <ion-fab-button
                data-testid="cancel-marker-move"
                ion-fab
                fab-bottom
                color="danger"
                (click)="mapService.cancelNewPosition()"
            >
                <ion-icon name="close"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        }
    </div>
</ion-content>

<menu-component
    [menuIsOpen]="menuIsOpen"
    [newVersion]="newVersion"
    (closeEvent)="closeMenu()"
>
</menu-component>
