// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.mapboxgl-ctrl-logo{
    display: none !important;
}
.menu-content-overlay{
z-index: -2 !important;
}
.show-menu{
    z-index: 1000;
}


.positionMarkersSize{
    width: 64px;
    height: 64px;
}

.locationMapIcon{
    background: url(./assets/locationX2.png) no-repeat 0 0;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    text-align: center;
}

.locationMapIcon-wo-orientation{
    background: url(./assets/locationX2-wo-orientation.png) no-repeat 0 0;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    text-align: center;
}


.moveMarkerIcon{
    background: url(./assets/marker-moveX2.png) no-repeat 0 0;
    background-size: cover;
    width: 24px;
    height: 36px;
    display: block;
    text-align: center;
}

// scale 
.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
    float: none !important;
    margin: auto !important;
    margin-left: auto ;
    margin-right: auto;
}

.mapboxgl-ctrl-bottom-left{
    width: 100%;
}


.dialog-multi-features .modal-wrapper{
    height: 80%;
    width: 90%;
    margin: auto;
    // height: 20%;
    // top: 80%;
    // position: absolute; 
    // display: block;  
    // padding: 20% 10%  !important;
}

// Fix for Mapbox attribution "i" button
.mapboxgl-ctrl-attrib {
    box-sizing: unset;
}