*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
app-root {
    width: 100%;
    min-height: 100%;
}

html,
body {
    overscroll-behavior-y: none;
}

.maplibre-ctrl-logo {
    display: none !important;
}
.positionMarkersSize {
    width: 64px;
    height: 64px;
}

.moveMarkerIcon {
    background: url(./assets/marker-moveX2.png) no-repeat 0 0;
    background-size: cover;
    width: 24px;
    height: 36px;
    display: block;
    text-align: center;
}

.maplibregl-ctrl-bottom-left {
    width: 100%;
}

// Fix for Maplibre attribution "i" button
.maplibregl-ctrl-attrib {
    box-sizing: unset;
}
