@if (menuIsOpen()) {
<div
    id="menu"
    (pointerdown)="startSwipe($event)"
    (pointerup)="endSwipe($event)"
    (pointercancel)="cancelSwipe()"
    @menuAnimation
>
    @if (menuIsOpen()) {
    <div class="menuContent">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title
                    >Osm Go!
                    <span class="numVersion">
                        {{configService.appVersion().appVersionNumber }}</span
                    ></ion-title
                >
                <ion-buttons slot="start">
                    <ion-button
                        [attr.aria-label]="'SHARED.CLOSE' | translate"
                        (click)="closeMenu()"
                    >
                        <ion-icon
                            aria-hidden="true"
                            slot="icon-only"
                            name="chevron-back-outline"
                        ></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list style="padding-top: 0">
                @if (newVersion()) {
                <ion-item button color="black" (click)="reloadApp()">
                    <ion-icon aria-hidden="true" name="refresh"></ion-icon>
                    {{'MENU.NEW_VERSION' | translate }}
                </ion-item>
                } @if (!this.configService.userInfo().connected) {
                <ion-item button (click)="login()">
                    <ion-icon aria-hidden="true" name="log-in"></ion-icon>
                    {{'MENU.CONNECTION' | translate }}
                </ion-item>
                }
                <ion-item button (click)="openBaseMapsPage()">
                    <ion-icon aria-hidden="true" name="map"></ion-icon> {{
                    'SETTINGS.AERIAL_IMAGERY' | translate}}
                </ion-item>
                <ion-item button (click)="pushPage('/tags')">
                    <ion-icon aria-hidden="true" name="pricetags"></ion-icon>
                    {{'MENU.TAG_MANAGEMENT' | translate }}
                </ion-item>
                <ion-item button (click)="pushPage('/settings')">
                    <ion-icon aria-hidden="true" name="settings"></ion-icon>
                    {{'MENU.SETTINGS' | translate }}
                </ion-item>
                <ion-item button (click)="pushPage('/about')">
                    <ion-icon aria-hidden="true" name="help-circle"></ion-icon>
                    {{'MENU.ABOUT' | translate }}
                </ion-item>
                @if (this.configService.userInfo().connected) {
                <ion-item button (click)="logout()">
                    <ion-icon aria-hidden="true" name="log-out"></ion-icon>
                    {{'MENU.SIGN_OUT' | translate }}
                </ion-item>
                }
                <ion-item button (click)="deleteDatapresentConfirm()">
                    <ion-icon aria-hidden="true" name="trash"></ion-icon>
                    {{'MENU.DELETE_DATA' | translate }}
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
    }
    <div class="backdrop" (click)="closeMenu()"></div>
</div>
}
