#menu{
    z-index: 100;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.backdrop{
    z-index: 101;
    height: 100%;
    width: 100%;
    opacity: 0.32;
    background-color: black;
}

.menuContent{
    z-index: 102;
    position: absolute;
    width: 304px;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 -1px 24px rgba(0,0,0,0.4);
}

ion-icon{
    margin-right: 0.5em;
}

ion-item{
    cursor: pointer;
}