@if (tagConfig(); as config) {
    @if (config.deprecated) {
        <section class="notice notice--error" role="alert">
            <mat-icon fontSet="material-symbols-rounded">warning</mat-icon>
            <p>{{ 'ALERT.TAG_IS_DEPRECATED' | translate }}</p>
            @if (config.replace) {
                <button
                    mat-stroked-button
                    type="button"
                    (click)="
                        fixDeprecated.emit({
                            old: config.tags,
                            replace: config.replace,
                        })
                    "
                >
                    <mat-icon fontSet="material-symbols-rounded"
                        >build</mat-icon
                    >
                    Corriger
                </button>
            }
        </section>
    }
    @if (config.alert && (config.alert[language()] || config.alert['en'])) {
        <section class="notice notice--error" role="alert">
            <mat-icon fontSet="material-symbols-rounded">error</mat-icon>
            <p>{{ config.alert[language()] || config.alert['en'] }}</p>
        </section>
    }
    @if (
        config.warning &&
        (config.warning[language()] || config.warning['en']) &&
        (!config.warningCountryCodes ||
            config.warningCountryCodes.includes(countryCode()))
    ) {
        <section class="notice notice--warning" role="status">
            <mat-icon fontSet="material-symbols-rounded">info</mat-icon>
            <p>{{ config.warning[language()] || config.warning['en'] }}</p>
        </section>
    }
}
