.fullWidth{
  width: 100%;
}

.tbAddChooseTag{
  position: absolute;
  top: 64px;
  bottom: 0;
  overflow-y: auto;
}

.searchTermAddChooseTag{
  position: absolute;
  top: 0;
  height: 64px;
}

.horizontal-stepper{
  position: relative;
  width: 100%;
  height: 100%;
}

.stepNumber{
  position: absolute;
  left:0;
  top:0;
}
