<mat-horizontal-stepper linear="isLinear" #stepper class="horizontal-stepper">

  <!-- Ajout d'un preset existant 1-->
  <mat-step *ngIf="typeModif === 'add'">
    <h1 class="stepNumber">1</h1>

    <mat-form-field class="searchTermAddChooseTag">
      <input matInput [(ngModel)]="searchTextAddPreset">
    </mat-form-field>

    <table class="tbAddChooseTag">
      <tr>
        <th>key</th>
        <th>Label</th>
        <th>Type</th>
      </tr>
      <tr *ngFor="let preset of genericPresets | filterByKeyLbl : searchTextAddPreset" (click)="selectPresets(preset, stepper)">
        <td> {{preset.key}} </td>
        <td> {{preset.lbl}} </td>
        <td> {{preset.type}} </td>
      </tr>
    </table>
    <div *ngIf= "(genericPresets | filterByKeyLbl : searchTextAddPreset).length == 0">
        <button mat-button (click)="newPreset(searchTextAddPreset.toLowerCase(), stepper)">
            Ajouter <b> {{ searchTextAddPreset.toLowerCase() }} </b> comme nouveau preset
          </button>
    </div>
  </mat-step>

  <!-- UPDATE : Si le presets est utilisé par d'autres tag, on fait choisir -->
  <mat-step *ngIf="typeModif === 'update' && tagsUseThisPreset &&tagsUseThisPreset.length > 1">
    <h1>2</h1>
    <div style="float: left; width: 50%;">
      <h5> {{presets.key}}</h5>
      Type : {{presets.type}}
      <div *ngIf="['list','select'].indexOf(presets?.type) !== -1">
        <h3> Options </h3>
        <table>
          <tr *ngFor="let preset of presets.tags">
            <td>{{preset.v === '' ? '#null#' : preset.v}}</td>
            <td>
              {{preset.lbl}}
            </td>
          </tr>
        </table>
      </div>
    </div>


    <div style="float: left; width: 50%;">
      <span>Ce preset est utilisé par {{tagsUseThisPreset.length - 1}} autres tags</span>

      <button mat-button class="fullWidth" (click)="confirmChangeForAllTag(stepper)">
        Modifier pour tous les tags
      </button>

      <button mat-button class="fullWidth" (click)="changeIdForThisTag(stepper)">
        Créer un preset pour ce tag uniquement
      </button>
    </div>

  </mat-step>

  <mat-step *ngIf="typeModif === 'add'">
    <h1>3</h1>
    <div style="float: left; width: 50%;">
      <table>
        <tr>
          <td> Key </td>
          <td> {{selectedPreset?.key}} </td>
        </tr>
        <tr>
          <td> Label </td>
          <td> {{selectedPreset?.lbl}} </td>
        </tr>
        <tr>
          <td> Type </td>
          <td> {{selectedPreset?.type}} </td>
        </tr>
      </table>

      <div *ngIf="['list','select'].indexOf(selectedPreset?.type) !== -1">
        <h3> Options </h3>
        <table *ngIf="selectedPreset">
          <tr>
            <th>Valeur</th>
            <th>Label</th>
          </tr>
          <tr *ngFor="let tag of selectedPreset.tags">
            <td>{{tag.v}}</td>
            <td>{{tag.lbl}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div style="float: left; width: 50%;">
      <button class="fullWidth" mat-button (click)="submit(selectedPreset)">Utiliser ce preset générique</button>
      <button class="fullWidth" mat-button (click)="confirmChangeForAllTag(stepper, selectedPreset)"> Modifier et utiliser
        ce preset Générique</button>
      <button class="fullWidth" mat-button (click)="changeIdForThisTag(stepper, selectedPreset)">Créér une copie de ce preset
        spécifique a cet objet</button>
      <button class="fullWidth" mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>


  <mat-step>
    <h1>4</h1>
    <div>
      
      <mat-form-field>
        <input matInput placeholder="Label" [(ngModel)]="presets.lbl">
      </mat-form-field>

      <mat-form-field>
        <mat-select [(value)]="presets.type">
          <mat-option value="text">Text</mat-option>
          <mat-option value="select">Select</mat-option>
          <mat-option value="list">Liste</mat-option>
          <mat-option value="number">Numéric</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <table *ngIf="['list','select'].indexOf(presets?.type) !== -1"> 
      <tr *ngFor="let preset of presets.tags">
        <td>{{preset.v === '' ? '#null#' : preset.v}}</td>
        <td>
          <mat-form-field>
            <input matInput [(ngModel)]="preset.lbl">
          </mat-form-field>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput [(ngModel)]="newValue.v">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput [(ngModel)]="newValue.lbl">
          </mat-form-field>
        </td>
        <td> <button mat-button (click)="addNewValue(newValue)"> Add</button> </td>
      </tr>
    </table>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Annuler</button>
      <button mat-button (click)="submit(presets)">Valider</button>
    </mat-dialog-actions>
  </mat-step>
</mat-horizontal-stepper>