<div style="width: 100%; height:100%;">

<div class="step" *ngIf="step == 1">
    <div style="overflow: auto;">

      <mat-form-field class="searchTermAddChooseTag">
        <input matInput [(ngModel)]="searchTextAddPreset">
      </mat-form-field>


      <button [disabled]="searchTextAddPreset.length == 0 || tagsService.presetsConfig[searchTextAddPreset]"
      class="btnAddPresets" mat-button (click)="newPreset(searchTextAddPreset.toLowerCase())">
          Add <b> {{ searchTextAddPreset.toLowerCase() }} </b> as new preset
        </button>
      

      <table class="tbAddChooseTag">
        <tr>
          <th>key</th>
          <th>Label</th>
          <th>Type</th>
        </tr>
        <tr *ngFor="let preset of genericPresets | filterByKeyLbl : searchTextAddPreset"
          (click)="selectPresets(preset)">
          <td> {{preset.key}} </td>
          <td> {{preset.lbl}} </td>
          <td> {{preset.type}} </td>
        </tr>
      </table>

    </div>

    <div class="proposalTags">
      OSM stats
        <div *ngFor="let item of this.statsTags" (click)="searchTextAddPreset = item.key">
            {{item.key}}  {{item.count}}
          </div>
    </div>

    

</div>
  <!-- Ajout d'un preset existant 1-->


  <!-- UPDATE : Si le presets est utilisé par d'autres tag, on fait choisir -->
  <div class="step" *ngIf="step == 2" >
    <!-- *ngIf="typeModif === 'update' && tagsUseThisPreset && tagsUseThisPreset.length > 1" -->
  
    <div style="float: left; width: 50%;">
      <h5> {{presets.key}}</h5>
      Type : {{presets.type}}
      <div *ngIf="['list','select'].indexOf(presets?.type) !== -1">
        <h3> Options </h3>
        <table>
          <tr *ngFor="let preset of presets.tags">
            <td>{{preset.v === '' ? '#null#' : preset.v}}</td>
            <td>
              {{preset.lbl}}
            </td>
          </tr>
        </table>
      </div>
    </div>


    <div style="float: left; width: 50%;">
      <span>This preset is used by {{tagsUseThisPreset.length - 1}} others tags</span>

      <button mat-raised-button color="primary" class="fullWidth" (click)="confirmChangeForAllTag()">
        Update for all tags
      </button>

      <button mat-raised-button color="primary" class="fullWidth" (click)="changeIdForThisTag()">
        Create a preset for only this tag
      </button>
    </div>

  </div>

  <div class="step" *ngIf="step == 3" >
    <div style="float: left; width: 50%;">
      <table>
        <tr>
          <td> Key </td>
          <td> {{selectedPreset?.key}} </td>
        </tr>
        <tr>
          <td> Label </td>
          <td> {{selectedPreset?.lbl}} </td>
        </tr>
        <tr>
          <td> Type </td>
          <td> {{selectedPreset?.type}} </td>
        </tr>
      </table>

      <div *ngIf="['list','select'].indexOf(selectedPreset?.type) !== -1">
        <h3> Options </h3>
        <table *ngIf="selectedPreset">
          <tr>
            <th>Valeur</th>
            <th>Label</th>
          </tr>
          <tr *ngFor="let tag of selectedPreset.tags">
            <td>{{tag.v}}</td>
            <td>{{tag.lbl}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div style="float: left; width: 50%;">
      <button class="fullWidth" mat-raised-button color="primary" (click)="submit(selectedPreset)"> Use this generic
        preset</button>
      <button class="fullWidth" mat-raised-button color="primary"
        (click)="confirmChangeForAllTag( selectedPreset)"> Edit and use this Generic preset</button>
      <button class="fullWidth" mat-raised-button color="primary" (click)="changeIdForThisTag( selectedPreset)">
        Create a copy of this specific preset for this object</button>
      <!-- <button class="fullWidth" mat-raised-button color="primary" matStepperPrevious>Back</button> -->
    </div>
  </div>


  <div class="step" *ngIf="step == 4" >
    <div class="step4content">


    <div class="selectTypeEdit" > 
        <div class="optionsTags">
            <h4> Key : <a target="_blank" [href]="'https://wiki.openstreetmap.org/wiki/Key:'+this.presets.key"> {{this.presets.key}} </a></h4>
            <div>id : {{this.presets._id}}</div>
            <div>
                <mat-form-field>
                  <input matInput placeholder="Label" [(ngModel)]="presets.lbl">
                </mat-form-field>
          
                <mat-form-field>
                  <mat-select [(value)]="presets.type">
                    <mat-option value="text">Text</mat-option>
                    <mat-option value="select">Select</mat-option>
                    <mat-option value="list">List</mat-option>
                    <mat-option value="number">Number</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="tagsList" *ngIf="['list','select'].includes(presets.type)">
                  <app-presets-options [selectedPreset] = presets (presetChange)="null"></app-presets-options>
              </div>
       
        </div>
       
     
    
        <div class="proposalTags" *ngIf="['list','select'].includes(presets?.type)">
    
          <table>
            <tr *ngFor="let tag of getProposalTags(presets.key)" (click)="addThisPresetOption(tag.value)">
              <td>{{tag.value}}</td>
              <td>{{tag.count}}</td>
            </tr>
          </table>
        </div>

    </div>
  
  </div>
  <div class="actions">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button (click)="submit(presets)">Submit</button>
  </div>

  </div>
  
</div>