.primaryKey{
    position: absolute;
    top: 0;
    left: 0;
    width: 49%;
    height: 64px;
   }
   .primaryValue{
     position: absolute;
     top: 66px;
     left: 0px;
     width: 49%;
     bottom: 0;
     overflow-y: auto;
   }
   
   .presets{
     position: absolute;
     right: 0;
     top: 0;
     width: 49%;
   }
   
   th{
     text-align: left;
   }
   
   .selectedRow{
     background-color: red;
   }
   
   /* .svg-icon g path {
     fill: #ffffff;
   } */
   /* svg {
     fill: #ffffff !important;
   } */
   