<main class="option-dialog">
    <header>
        <div>
            <mat-icon fontSet="material-symbols-rounded">list</mat-icon>
            <h2>
                {{ data().preset.lbl[language] || data().preset.lbl['en'] }}
            </h2>
        </div>
        <button
            mat-icon-button
            type="button"
            [attr.aria-label]="'SHARED.CLOSE' | translate"
            (click)="dismiss()"
        >
            <mat-icon fontSet="material-symbols-rounded">close</mat-icon>
        </button>
    </header>

    <div class="option-search">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-icon matPrefix fontSet="material-symbols-rounded"
                >search</mat-icon
            >
            <input
                #searchInput
                matInput
                type="search"
                [value]="searchText()"
                [placeholder]="'SHARED.SEARCH' | translate"
                (input)="onSearchInput(searchInput.value)"
            />
        </mat-form-field>
    </div>

    <mat-radio-group class="option-list" [value]="initialValue">
        @for ( option of data().preset.options | filterByCountryCode:
        countryCode | filterByPresetsContent: [language] : searchText(); track
        option.v ) {
        <mat-radio-button [value]="option.v" (change)="selected(option)">
            <span class="option-copy">
                <strong
                    >{{ option.lbl?.[language] || option.lbl?.['en'] || option.v
                    }}</strong
                >
                <small>{{ option.v }}</small>
            </span>
        </mat-radio-button>
        }
    </mat-radio-group>

    <footer>
        <button mat-button type="button" (click)="dismiss()">
            {{ 'SHARED.CANCEL' | translate }}
        </button>
    </footer>
</main>
