<ion-menu [content]="content" swipeEnabled="false"
	(ionOpen)="menuOpened()" (ionClose)="menuClosed()"
	 side="left" menuType="push">
	<ion-header>
		<ion-navbar>

			<ion-icon (click)="closeMenu()" name="arrow-back" style="font-size: 30px;vertical-align: sub;">
				<ion-title style="display: inline-flex;">OSM Go!</ion-title>
			</ion-icon>
		</ion-navbar>
	</ion-header>


	<ion-content>
		<ion-list>

			<ion-item *ngIf="!this.osmApi.getUserInfo().connected" (click)="pushPage('loginPage')">
				Se connecter à OpenStreetMap
			</ion-item>



			<ion-item (click)="pushPage('settingsPage')">
				Paramètres
			</ion-item>

			<ion-item (click)="pushPage('aboutPage')">
				À Propos
			</ion-item>

			<ion-item *ngIf="this.osmApi.getUserInfo().connected" (click)="logout()">
				Se déconnecter
			</ion-item>

			<ion-item>
				<button ion-button full color="danger" (click)="deleteDatapresentConfirm()">Supprimer les données</button>
			</ion-item>

			<ion-item>
				<button ion-button block (click)="exit()">Quitter</button>
			</ion-item>

		</ion-list>

	</ion-content>
</ion-menu>