
    td, th {
        padding: 0;
        text-align: center;
        padding: 4px;
    }

.footerButton{
    width: 45%;
}

.iconType{
    color: white;
    height: 25px;
    width: 25px;

}