@if (isPushing) {
<div class="pushDataOverlay">
    @if (!uploadedOk) {
    <div style="text-align: center">
        <h2>{{ 'SEND_DATA.UPLOADING_DATA_TO_OSM' | translate}}</h2>
    </div>
    <div style="margin: 1em">
        <ion-icon class="uploadingIcon" name="globe"></ion-icon>
    </div>
    <div style="text-align: center">
        <h2>{{ 'SEND_DATA.DONT_CLOSE' | translate}}</h2>
    </div>
    } @if (uploadedOk) {
    <div style="margin: 1em">
        <ion-icon
            class="uploadedOkIcon"
            name="checkmark-circle-outline"
        ></ion-icon>
    </div>
    }
</div>
}

<ion-header color="primary">
    <ion-toolbar color="primary">
        <ion-buttons style="min-width: 32px" slot="primary">
            <ion-button (click)="navCtrl.back()" [disabled]="isPushing">
                <ion-icon
                    name="chevron-back-outline"
                    slot="icon-only"
                ></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title> {{ 'SEND_DATA.SEND_DATA' | translate}} </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    @if (this.configService.config().isDevServer) {
    <h1>DEV SERVER</h1>
    } @if (connectionError) {
    <ion-card color="danger">
        <ion-card-content> {{connectionError}} </ion-card-content>
    </ion-card>
    } @if (!configService.userInfo().connected) {
    <ion-card color="danger">
        <ion-card-content>
            {{ 'SEND_DATA.YOU_MUST_BE_LOGGED_IN' | translate}}
        </ion-card-content>
    </ion-card>
    }

    <ion-card>
        <ion-card-content>
            <table style="width: 100%">
                <tr>
                    <th>{{ 'SEND_DATA.TOTAL_ITEMS' | translate}}</th>
                    <th>{{ 'SEND_DATA.ADDED_ITEMS' | translate}}</th>
                    <th>{{ 'SEND_DATA.UPDATED_ITEMS' | translate}}</th>
                    <th>{{ 'SEND_DATA.DELETED_ITEMS' | translate}}</th>
                </tr>
                <tr>
                    <td>{{summary.Total}}</td>
                    <td>{{summary.Create}}</td>
                    <td>{{summary.Update}}</td>
                    <td>{{summary.Delete}}</td>
                </tr>
            </table>
        </ion-card-content>
    </ion-card>

    @if (error) {
    <ion-card class="cardError" data-testid="upload-error">
        <ion-card-header>
            <h4 style="color: white">Error</h4>
        </ion-card-header>
        <ion-card-content>
            <span class="errorPush">{{error.status}} {{error.message}}</span>
            @if (error.feature?.properties?.tags) {
            <div>
                <table id="errorTable">
                    @for (item of
                    $safeNavigationMigration(error.feature?.properties?.tags) |
                    keyvalue; track item) { @if (item.value !== '') {
                    <tr>
                        <td>{{item.key}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                    } }
                </table>
            </div>
            } @if (error.feature) {
            <ion-button (click)="cancelErrorFeature(error.feature)"
                >{{ 'SEND_DATA.CANCEL_THIS_CHANGE' | translate}}</ion-button
            >
            }
        </ion-card-content>
    </ion-card>
    }

    <ion-card>
        <ion-card-header>
            {{ 'SEND_DATA.CHANGESET_COMMENT' | translate}}
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-input
                    [(ngModel)]="commentChangeset"
                    type="text"
                    [placeholder]="'SEND_DATA.CHANGESET_COMMENT' | translate"
                ></ion-input>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <table style="width: 100%">
        <tr>
            <th style="width: 45px">{{ 'SEND_DATA.TYPE' | translate}}</th>
            <th style="width: 45px"></th>

            <th>{{ 'SEND_DATA.NAME' | translate}}</th>
            <th>{{ 'SEND_DATA.PRIMARY_KEY' | translate}}</th>

            <th style="width: 45px"><ion-icon name="locate"></ion-icon></th>
            <th style="width: 45px">{{ 'SEND_DATA.ERROR' | translate}}</th>
        </tr>
        @for (item of featuresChanges; track item) {
        <tr>
            <td>
                @if (item.properties.changeType == 'Create') {
                <ion-icon
                    name="add"
                    class="iconType"
                    style="color: green"
                ></ion-icon>
                } @if (item.properties.changeType == 'Update') {
                <ion-icon
                    name="create"
                    class="iconType"
                    style="color: blue"
                ></ion-icon>
                } @if (item.properties.changeType == 'Delete') {
                <ion-icon
                    name="trash"
                    class="iconType"
                    style="color: red"
                ></ion-icon>
                }
            </td>
            <td
                [style.background-color]="item.properties && item.properties.hexColor ? item.properties.hexColor : 'black'"
            >
                <app-icon
                    class="imgCenter iconImg"
                    [icon]="item.properties.icon"
                    [jsonSprites]="tagsService.jsonSprites"
                >
                </app-icon>
            </td>
            <td>{{item.properties?._name}}</td>
            <td>
                {{item.properties?.primaryTag.key}}:
                {{item.properties?.primaryTag.value}}
            </td>
            <td (click)="centerToElement(item.geometry.coordinates)">
                <ion-icon style="font-size: 2em" name="locate"></ion-icon>
            </td>
            <td>
                @if (item.error) {
                <div (click)="displayError(item.error)">
                    <ion-icon name="bug"></ion-icon>
                </div>
                }
            </td>
        </tr>
        }
    </table>

    <!--[disabled]="summary.Total === 0 || isPushing"-->
</ion-content>

<ion-footer>
    <!--  [disabled]="summary.Total === 0 || isPushing" ion-button block  -->
    <ion-button
        class="footerButton"
        color="danger"
        [disabled]="isPushing"
        (click)="presentConfirm()"
        >{{ 'SEND_DATA.DELETE' | translate}}</ion-button
    >
    <ion-button
        data-testid="upload-changes"
        class="footerButton"
        [disabled]="!configService.userInfo().connected || !featuresChanges || featuresChanges.length === 0 || isPushing"
        (click)="pushDataToOsm(commentChangeset)"
        >{{ 'SEND_DATA.SEND' | translate}}</ion-button
    >
</ion-footer>
